Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

fix: :bug: fixed a bug with the way tailwindcss classes where imported in the app
  .vscode/settings.json
  package.json
  packages/app/MIGRATION.md
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/globals.css
  packages/lib/src/theme.css
Due: prettier --write, eslint, sort-package-json

docs(app): :memo: added PR links to migration docs
  packages/app/MIGRATION.md
Due: none

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

fix: :wheelchair: added aria-label to checkboxes in rights view
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

style(app): :lipstick: standardize headings to all be h1 and follow the html specs
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
Due: prettier --write, eslint

docs(app): :memo: migration docs
  packages/app/MIGRATION.md
Due: none

fix: resolve vite and axios CVEs
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: resolve vite and axios CVEs (#897)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main (#890)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

feat: add MonthPickerInput as new filter option
  packages/lib/package.json
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/globals.css
  packages/types/src/table.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: remove typo
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/types/src/table.ts
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix(frontend): update axios, nodemailer and happy dom deps
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(frontend): update axios, nodemailer and happy dom deps (#904)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: release main (#900)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore(app): upgade packages for the react compiler
  packages/app/package.json
  packages/app/src/proxy.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat(lib): react compiler for essencium-lib
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/components/Table/Table.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat(app): react compiler for essencium-app
  packages/app/next.config.js
Due: prettier --write, eslint

chore(lib): add missing dependency
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: fix build
  packages/app/src/api/rights.ts
  packages/docs/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: revert docs
  packages/docs/package.json
Due: sort-package-json

chore(app): upgrade to next 16
  packages/app/.eslintrc.json
  packages/app/package.json
Due: sort-package-json

chore: fix linting errors
  packages/eslint-config/index.cjs
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
Due: prettier --write, eslint

docs(app): update migration docs
  packages/app/MIGRATION.md
Due: none

refactor: tidy up dependencies
  package.json
  packages/app/package.json
  packages/app/src/api/rights.ts
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: fix deployment
  packages/app/misc/tsconfig.app.json
  packages/app/package.json
  packages/app/tsconfig.base.json
  packages/docs/tsconfig.json
  packages/lib/package.json
  packages/lib/tsconfig.base.json
  packages/types/package.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: sort-package-json

chore: fix build
  packages/app/misc/vitest.config.ts
Due: prettier --write, eslint

chore: wip: upgrade to zod 4
  packages/app/package.json
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/config/zod.ts
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useZodForm.ts
  packages/lib/package.json
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/hooks/useZodForm.ts
  packages/lib/src/index.ts
  packages/types/package.json
  packages/types/src/auth.ts
  packages/types/src/base.ts
  packages/types/src/basic.ts
  packages/types/src/feedback.ts
  packages/types/src/index.ts
  packages/types/src/misc.ts
  packages/types/src/right.ts
  packages/types/src/role.ts
  packages/types/src/table.ts
  packages/types/src/user.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint, sort-package-json

feat: upgrade to zod 4
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/me.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/user.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/lib/src/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/types/src/auth.ts
  packages/types/src/table.ts
  packages/types/src/user.ts
Due: prettier --write, eslint

chore: zod config into types package
  packages/app/src/app/[locale]/layout.tsx
  packages/types/src/config.ts
  packages/types/src/index.ts
Due: prettier --write, eslint

docs(app): migration docs
  packages/app/MIGRATION.md
Due: none

chore: add copyright text
  packages/types/src/auth.ts
  packages/types/src/basic.ts
  packages/types/src/config.ts
Due: prettier --write, eslint

feat(types): add pagination input types
  packages/types/src/base.ts
  packages/types/src/contact.ts
Due: prettier --write, eslint

feat(app): add pagination parser to utils
  packages/app/src/utils/pagination.ts
Due: prettier --write, eslint

feat(app): add base api functions to simplify basic crud operations
  packages/app/src/api/base.ts
  packages/app/src/api/contact.ts
  packages/app/src/api/feedback.ts
  packages/app/src/api/me.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/translations.ts
  packages/app/src/api/user.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
Due: prettier --write, eslint

feat(app): implement getAll
  packages/app/src/api/base.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
