Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: update postcss
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update vitest
  pnpm-lock.yaml
Due: none

test: update & add tests
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

chore: remove unused code
  packages/lib/src/components/Header/Header.test.tsx
Due: prettier --write, eslint

test: update & add tests
  packages/lib/src/components/Header/Header.test.tsx
Due: prettier --write, eslint

chore: remove unused import
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

chore: update lockfile
  pnpm-lock.yaml
Due: none

test: update and add tests
  packages/lib/src/components/Home/Home.test.tsx
Due: prettier --write, eslint

chore: add next-router-mock package
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

test: update & add tests
  packages/lib/src/components/Home/Home.test.tsx
Due: prettier --write, eslint

chore: sort package jsons
  package.json
  packages/app/package.json
  packages/lib/package.json
Due: sort-package-json

test: update & add tests
  package.json
  packages/app/package.json
  packages/lib/package.json
  packages/lib/src/components/Home/Home.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: update next
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: wip [ci-skip]
  .vscode/essencium-frontend.code-workspace
  packages/lib/src/components/Login/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

ci: use same version for up and download artifact action
  .github/workflows/ci.yml
Due: none

ci: change token location
  .github/workflows/ci.yml
Due: none

ci: setup QEMU and Buildx for multiplatform image
  .github/workflows/ci.yml
Due: none

ci: set correct path to Dockerfile
  .github/workflows/ci.yml
Due: none

ci: fix path to server entry file
  packages/app/Dockerfile
Due: none

ci: remove multiplatform support
  .github/workflows/ci.yml
Due: none

Revert "ci: remove multiplatform support"
  .github/workflows/ci.yml
Due: none

ci: update deprecated github actions
  .github/workflows/ci.yml
Due: none

ci: upgrade further github actions
  .github/workflows/ci.yml
Due: none

ci: debugging
  .github/workflows/ci.yml
Due: none

ci: further debugging
  .github/workflows/ci.yml
Due: none

chore: WIP [ci-skip]
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_document.tsx
Due: prettier --write, eslint

chore: remove mantine/next
  packages/app/package.json
  packages/lib/package.json
  packages/lib/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: add state to push only once to router
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore: WIP [ci-skip]
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

ci: remove debugging
  .github/workflows/ci.yml
Due: none

ci: set correct copy paths
  packages/app/Dockerfile
Due: none

ci: debug
  .github/workflows/ci.yml
Due: none

chore: add experimental option
  packages/app/next.config.js
Due: prettier --write, eslint

chore: update next so latest 13.5
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

Revert "chore: update next so latest 13.5"
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json
