Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: add hooks folder
  packages/lib/src/hooks/index.ts
  packages/lib/src/hooks/useZodForm.ts
Due: prettier --write, eslint

chore: add default export
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/_document.tsx
Due: prettier --write, eslint

fix: wrap app cmp export into appWithTranslation HOC
  packages/app/src/pages/_app.tsx
Due: prettier --write, eslint

feat: add and edit READMEs
  README.md
  packages/app/README.md
  packages/eslint-config/README.md
  packages/lib/README.md
  packages/prettier-config/README.md
  packages/types/README.md
Due: none

docs: update codestyle and linting page
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/codestyle-and-linting.mdx
Due: none

chore: fix typo
  packages/app/README.md
Due: none

chore: fix typo
  packages/eslint-config/README.md
Due: none

chore: fix typo
  packages/lib/README.md
Due: none

chore: fix typo
  packages/types/README.md
Due: none

chore: fix typo
  packages/app/README.md
  packages/prettier-config/README.md
Due: none

chore: add README for docs
  packages/docs/README.md
Due: none

chore: adjust seeding script to have resolved translations for roles
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  scripts/seed-db.ts
Due: prettier --write, eslint

docs: update codestyle and linting page (#455)
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/codestyle-and-linting.mdx
Due: none

chore: remove console log
  scripts/seed-db.ts
Due: prettier --write, eslint

docs: write documentation for seeding database
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/seeding-database.mdx
Due: none

docs: add missing subpages under dev guide in overview
  packages/docs/pages/devguide.mdx
Due: none

feat: add and edit READMEs (#453)
  README.md
  packages/app/README.md
  packages/docs/README.md
  packages/eslint-config/README.md
  packages/lib/README.md
  packages/prettier-config/README.md
  packages/types/README.md
Due: none

fix: fix seeding script
  scripts/seed-db.ts
Due: prettier --write, eslint

docs: add explanation how to execute seeding script
  packages/docs/pages/devguide/seeding-database.mdx
Due: none

chore: reduce num entities to 15
  scripts/seed-db.ts
Due: prettier --write, eslint

fix: fix seeding script
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/seeding-database.mdx
  scripts/seed-db.ts
Due: prettier --write, eslint

Create pull_request_template.md
  pull_request_template.md
Due: none

refactor: update docs
  packages/docs/pages/devguide/pull-requests.mdx
  pull_request_template.md
Due: none

fix: fix babel vulnerability
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix vite vulnerability in package app
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix vite vulnerability
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix babel vulnerability (#462)
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

Update packages/docs/pages/devguide/pull-requests.mdx
  packages/docs/pages/devguide/pull-requests.mdx
Due: none

Update pull_request_template.md
  pull_request_template.md
Due: none

fix: fix chaijs vulnerability
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix chaijs vulnerability (#465)
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix axios vulnerability
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix postcss vulnerability
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix axios vulnerability
  package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix semver vulnerability
  pnpm-lock.yaml
Due: none

docs: update architecture sections and config package links
  packages/docs/pages/architecture.mdx
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pages/devguide/packageResponsibilities.mdx
Due: none
