Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

fix: prevent NavBar pin icon from disappearing
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: add color prop to user menu
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

fix: render links with sublinks as button
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

fix: render links with sublinks as button
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore: install and set up tailwindcss
  packages/app/package.json
  packages/app/postcss.config.cjs
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix(frontend): fixed a bug where an extra scrollbar would appear on every page
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore(frontend): change how padding is applied
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

docs: update migration docs
  packages/app/MIGRATION.md
Due: none

fix: fixed some errors with active states of links
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

style!: use consistent background for all cards in darkmode
  packages/app/src/app/[locale]/(main)/admin/users/Users.module.css
  packages/app/src/config/Theme.module.css
  packages/app/src/config/mantine.ts
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.module.css
  packages/lib/src/components/Profile/components/ProfileOverviewCard.module.css
Due: prettier --write, eslint

docs: add migration docs
  packages/app/MIGRATION.md
Due: none

fix: fixed multiple problems with the navbar pin icon
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

chore(frontend): add tailwind.config and move globals.css file
  packages/app/package.json
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  packages/app/tailwind.config.js
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: added isMobile prop to navlinks to show subitems correctly
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

docs: added migration docs
  packages/app/MIGRATION.md
Due: none

fix(frontend): fix sorting by name of user table (#772)
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

docs: update migration docs (#772)
  packages/app/MIGRATION.md
Due: none

chore: release main (#756)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

fix: fixed a bug when creating screenshots with html2canvas
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat: add warning when changing a users password
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix: fix vulnerabilites in vite and esTree
  packages/app/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix vulnerabilities in vite package
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix vulnerability in vite package
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix vulnerability in vite package (#781)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main (#776)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

refactor: split table component
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeader.module.css
  packages/lib/src/components/Table/components/TableHeader.tsx
  packages/lib/src/components/Table/components/index.ts
Due: prettier --write, eslint

feat: indicate sortable table columns (#736)
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

fix: fixed an issue where tailwind would not include classes from the lib package
  packages/app/tailwind.config.js
  packages/lib/src/globals.css
Due: prettier --write, eslint

chore: only look for tailwind classes in the src folder
  packages/lib/src/globals.css
Due: none

chore: update migration docs
  packages/app/MIGRATION.md
Due: none

chore(ci): fix e2e-tests in GitHub pipeline
  .github/workflows/ci.yml
  package.json
Due: sort-package-json

fix(frontend): fix vulnerability in vite package
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(frontend): fix vulnerability in vite package (#793)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
