Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: add types scope
  .vscode/settings.json
Due: none

feat(app): base api functions accept all react-query options
  packages/app/src/api/base.ts
  packages/app/src/api/contact.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/user.ts
Due: prettier --write, eslint

chore(app): add generic to AxiosError
  packages/app/src/api/base.ts
Due: prettier --write, eslint

chore(types): trim strings in stringSchema
  packages/types/src/base.ts
Due: prettier --write, eslint

chore(app): implement factory pattern for api functions
  packages/app/src/api/base.ts
  packages/app/src/api/contact.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/translations.ts
  packages/app/src/api/user.ts
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/hooks/useAddTranslation.ts
Due: prettier --write, eslint

chore(app): uppercase const
  packages/app/src/api/contact.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/translations.ts
  packages/app/src/api/user.ts
Due: prettier --write, eslint

chore(frontend): allow axios request configuration
  packages/app/src/api/base.ts
  packages/app/src/api/contact.ts
  packages/app/src/api/feedback.ts
  packages/app/src/api/me.ts
Due: prettier --write, eslint

feat(app): add useLogout hook with backend endpoint integration
  .gitignore
  packages/app/src/api/auth.ts
Due: prettier --write, eslint

refactor(app): migrate to useLogout hook in components
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

refactor(app): remove deprecated logout utility function
  packages/app/src/utils/index.ts
  packages/app/src/utils/logout.ts
Due: prettier --write, eslint

refactor(app): replace logout call with clearAuthState in 401 interceptor
  packages/app/src/api/api.ts
Due: prettier --write, eslint

docs(docs): add authentication guide with logout documentation
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/authentication.mdx
Due: prettier --write, eslint

chore: consolidate base queries into single function
  packages/app/src/api/base.ts
  packages/app/src/api/base/all.ts
  packages/app/src/api/base/baseQueries.ts
  packages/app/src/api/base/create.ts
  packages/app/src/api/base/delete.ts
  packages/app/src/api/base/find.ts
  packages/app/src/api/base/index.ts
  packages/app/src/api/base/infinite.ts
  packages/app/src/api/base/page.ts
  packages/app/src/api/base/types.ts
  packages/app/src/api/base/update.ts
Due: prettier --write, eslint

Update packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

Update packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

Update packages/app/src/api/roles.ts
  packages/app/src/api/roles.ts
Due: prettier --write, eslint

Update packages/app/src/api/me.ts
  packages/app/src/api/me.ts
Due: prettier --write, eslint

chore(lib): add missing dependency
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat(app): react compiler for essencium-app
  packages/app/next.config.js
Due: prettier --write, eslint

chore(app): upgade packages for the react compiler
  packages/app/package.json
  packages/app/src/proxy.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat(lib): react compiler for essencium-lib
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/components/Table/Table.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: fix linting errors
  packages/eslint-config/index.cjs
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
Due: prettier --write, eslint

chore: fix build
  packages/docs/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

docs(app): update migration docs
  packages/app/MIGRATION.md
Due: none

chore: revert docs
  packages/docs/package.json
Due: sort-package-json

chore(app): upgrade to next 16
  packages/app/.eslintrc.json
  packages/app/package.json
Due: sort-package-json

refactor: tidy up dependencies
  package.json
  packages/app/package.json
  packages/lib/package.json
  packages/lib/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: fix build
  packages/app/misc/vitest.config.ts
Due: prettier --write, eslint

chore: fix deployment
  packages/app/misc/tsconfig.app.json
  packages/app/package.json
  packages/app/tsconfig.base.json
  packages/docs/tsconfig.json
  packages/lib/package.json
  packages/lib/tsconfig.base.json
  packages/types/package.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: sort-package-json

Update packages/lib/package.json
  packages/lib/package.json
Due: sort-package-json

Update packages/types/src/right.ts
  packages/types/src/right.ts
Due: prettier --write, eslint

Update packages/types/src/auth.ts
  packages/types/src/auth.ts
Due: prettier --write, eslint

chore: update dependencies
  package.json
  packages/app/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: fix issues with the build of lib and types
  packages/lib/tsconfig.base.json
  packages/lib/tsconfig.build.json
  packages/types/tsconfig.json
  tsconfig.json
Due: none

chore: fix issues with tanstack query
  packages/app/src/api/base/all.ts
  packages/app/src/api/base/create.ts
  packages/app/src/api/base/delete.ts
  packages/app/src/api/base/update.ts
  packages/app/src/api/me.ts
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
Due: prettier --write, eslint

chore: remove next-i18n-router
  packages/app/src/proxy.ts
Due: prettier --write, eslint

docs: migration docs
  packages/app/MIGRATION.md
Due: none

chore: change local development backend to localhost
  packages/app/.env.development
  scripts/seed-db.ts
Due: prettier --write, eslint

Update packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
Due: prettier --write, eslint

Update packages/prettier-config/package.json
  packages/prettier-config/package.json
Due: sort-package-json

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
