Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: bump @mantine/* packages to v8
  packages/app/package.json
  packages/lib/package.json
Due: sort-package-json

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: adjust z-index for navbar to ensure proper layering
  packages/lib/src/components/NavBar/NavBar.module.css
Due: none

chore: fix tailwind intellisense for whole project
  .vscode/settings.json
Due: none

refactor: import new tailwindcss in app package
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/globals.css
Due: prettier --write, eslint

refactor: app package to use tailwind classes instead of css modules
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/Users.module.css
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.module.css
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/profile/Profile.module.css
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/login/Login.module.css
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPassword.module.css
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/components/RouteProtector.module.css
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/Theme.module.css
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

fix: restore previous Switch styling
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

docs: migration docs
  packages/app/MIGRATION.md
Due: none

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

refactor: added new controlled form input components
  packages/lib/src/components/Form/ControlledMultiSelect.tsx
  packages/lib/src/components/Form/ControlledPasswordInput.tsx
  packages/lib/src/components/Form/ControlledSelect.tsx
  packages/lib/src/components/Form/ControlledSwitch.tsx
  packages/lib/src/components/Form/ControlledTextInput.tsx
  packages/lib/src/components/Form/ControlledTextarea.tsx
  packages/lib/src/components/Form/InputErrorStack.tsx
  packages/lib/src/components/Form/index.ts
  packages/lib/src/components/index.ts
  packages/lib/src/hooks/useFormStateErrorMessage.ts
Due: prettier --write, eslint

refactor: use new controlled input components in all forms
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: remove formState prop
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
Due: prettier --write, eslint

refactor: use mantine error property instead of external boxes
  packages/app/src/app/[locale]/(public)/set-password/SetPassword.module.css
  packages/lib/src/components/Contact/components/ContactForm.module.css
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.module.css
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/components/RoleForm.module.css
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.module.css
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/User/UserForm.module.css
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: revert TranslationsChangeForm
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

chore: add asterix to personaldataform
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
Due: prettier --write, eslint

chore: add licence to inputerrorstack
  packages/lib/src/components/Form/InputErrorStack.tsx
Due: prettier --write, eslint

chore: add onChange and onBlur event handlers to controlled inputs
  packages/lib/src/components/Form/ControlledMultiSelect.tsx
  packages/lib/src/components/Form/ControlledPasswordInput.tsx
  packages/lib/src/components/Form/ControlledSelect.tsx
  packages/lib/src/components/Form/ControlledSwitch.tsx
  packages/lib/src/components/Form/ControlledTextInput.tsx
  packages/lib/src/components/Form/ControlledTextarea.tsx
  packages/lib/src/hooks/index.ts
  packages/lib/src/hooks/useFormStateErrorMessage.ts
Due: prettier --write, eslint

chore: fix PasswordChangeForm width
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
Due: prettier --write, eslint

chore: fix order of props
  packages/lib/src/components/Form/ControlledTextInput.tsx
Due: prettier --write, eslint

chore: rebase
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: remove unused formState
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

ci: create Dockerfile
  .dockerignore
  Dockerfile
  packages/app/next.config.js
Due: prettier --write, eslint

ci: use build cache for pnpm dependencies in Dockerfile
  Dockerfile
Due: none

chore(ci): fix e2e-tests in GitHub pipeline
  .github/workflows/ci.yml
  package.json
Due: sort-package-json

chore(e2e): temporarily skip failing e2e tests
  packages/app/e2e/HomeView.spec.ts
  packages/app/e2e/LoginView.spec.ts
  packages/app/e2e/NavBar.spec.ts
  packages/app/e2e/ProfileView.spec.ts
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/UsersView.spec.ts
  packages/app/e2e/title.spec.ts
Due: prettier --write, eslint

chore: display password warning only when the password is being changed
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: fix spacing in contact view
  packages/lib/src/components/Contact/components/ContactForm.module.css
Due: none

chore(frontend): add tailwind.config and move globals.css file
  packages/app/package.json
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  packages/app/tailwind.config.js
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: only look for tailwind classes in the src folder
  packages/lib/src/globals.css
Due: none

feat: install prettier plugin tailwindcss
  packages/app/src/app/[locale]/layout.tsx
  packages/lib/src/globals.css
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: install and set up tailwindcss
  packages/app/package.json
  packages/app/postcss.config.cjs
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: fixed an issue where tailwind would not include classes from the lib package
  packages/app/tailwind.config.js
  packages/lib/src/globals.css
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
