Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: fix rollup vulnerability (#664)
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix typo
  packages/docs/pages/architecture/runtime-config.mdx
Due: none

fix: fix runtime config for oauth redirect url
  packages/app/.env
  packages/app/public/runtimeConfig.js
  packages/app/src/api/api.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/components/provider/mantineProvider.tsx
  packages/app/src/instrumentation.ts
  packages/app/src/types.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/isBrowserEnvironment.test.ts
  packages/app/src/utils/isBrowserEnvironment.ts
Due: prettier --write, eslint

chore: add dev command for docs
  package.json
Due: sort-package-json

fix: give ignore workspace flag to install in docs package
  packages/docs/package.json
Due: sort-package-json

docs: add section how to deactivate runtime config feature
  packages/docs/pages/architecture/runtime-config.mdx
Due: none

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
Due: sort-package-json

chore: update rollup
  packages/app/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update rollup (#685)
  packages/app/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update micromatch
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update micromatch
  packages/docs/next-env.d.ts
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: update micromatch (#686)
  package.json
  packages/app/package.json
  packages/docs/next-env.d.ts
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: update cross-spawn
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: optimize mantine in dev and enable tree shaking
  packages/app/next.config.js
Due: prettier --write, eslint

chore: wip [ci-skip]
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Translations/index.ts
Due: prettier --write, eslint

fix: error message overlap on profile page in mobile view
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.module.css
Due: none

chore: release main
  .release-please-manifest.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

fix: fix early rendering of Navbar pin
  packages/lib/src/components/NavBar/NavBar.module.css
Due: none

feat: add new translation page
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Translations/Translations.module.css
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/Translations/index.ts
  packages/lib/src/components/index.ts
  packages/types/src/translation.ts
Due: prettier --write, eslint

refactor: adjust types
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.tsx
Due: prettier --write, eslint

refactor: render x icon in searchbar conditionally
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.tsx
Due: prettier --write, eslint

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

fix: fix navbar
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/HomeView.tsx
  packages/app/src/app/[locale]/(main)/page.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/components/NavLinks.module.css
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

style: change styling of input fields
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

refactor: make tablerow clickable
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.tsx
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

refactor: add root path 'admin'
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/rights/page.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/page.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/Users.module.css
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.module.css
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/page.tsx
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/docs/pages/devguide/new-page.mdx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/NavBar/NavBar.test.tsx
Due: prettier --write, eslint

chore(frontend): update mantine
  packages/app/package.json
  packages/app/src/app/[locale]/layout.tsx
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

refactor: always show version in footer
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
Due: prettier --write, eslint

feat: put environment into runtime config and visualize in header
  packages/app/public/runtimeConfig.js
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/instrumentation.ts
  packages/app/src/types.ts
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

fix: add correct api url
  packages/app/.env
Due: none

fix(frontend): ensure notification element to display correctly above other items
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

fix(frontend): adjust translation and remove preset color
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix(frontend): limit navbar length to content and allow toggling on click
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.module.css
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore: create migration guide
  .npmrc
  packages/app/MIGRATION.md
Due: none

chore: adjust instrumentation
  packages/app/next.config.js
  packages/app/src/instrumentation.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
