Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

fix(app): :bug: fixed accessibility issues with table actions
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

docs(app): :memo: update migration docs
  packages/app/MIGRATION.md
Due: none

fix(lib): :bug: fix focus errors with the feedback widget
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

feat: :sparkles: implemented a skip link
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/utils/cn.ts
Due: prettier --write, eslint

chore: removed weird rebasing error
  packages/lib/src/utils/cn.ts
Due: prettier --write, eslint

fix(lib): :wheelchair: improve accessibility of the searchbar
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
Due: prettier --write, eslint

fix: :wheelchair: added aria attributes in translations view
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

fix: :wheelchair: added aria-label to checkboxes in rights view
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

fix: :wheelchair: improve accessibility in the contact section
  packages/lib/src/components/Contact/Contact.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: sort-package-json

fix(lib): :wheelchair: fixed a bug where expandable table rows where not accessible
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

feat(logout): implement logout functionality calling backend endpoint with token handling
  packages/app/src/utils/logout.ts
Due: prettier --write, eslint

chore: update .gitignore to exclude .idea directory
  .gitignore
Due: none

chore: removed duplicate code
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

fix(app): adjust users sorting by name
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

chore(docs): update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

fix(lib): :bug: fix a problem where theme selector was not accessible
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

fix(lib): :wheelchair: improve navbar accessibility
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

fix(frontend): resolve next and from-data vulnerabilities
  packages/app/package.json
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(frontend): revert version bump for docs
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

fix(frontend): resolve next and form-data vulnerabilities (#879)
  packages/app/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: sort-package-json

chore: release main (#855)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
Due: sort-package-json

fix: :bug: fixed a bug where the lib didn't include globals.css in it's build
  packages/app/MIGRATION.md
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

chore: release main (#882)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

chore: :bug: move index.css to css/index.css
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

docs(app): :memo: migration docs
  packages/app/MIGRATION.md
Due: none

chore: change to flat import
  packages/app/MIGRATION.md
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

fix: change import of lib css to flat styles.css
  packages/app/MIGRATION.md
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: release main (#885)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix: :bug: fixed a bug importing globals.css in production
  packages/app/MIGRATION.md
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

chore: release main (#887)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json
