Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: update MIGRATION.md for release
  packages/app/MIGRATION.md
Due: none

chore: update MIGRATION.md for release (#794)
  packages/app/MIGRATION.md
Due: none

chore: release main (#786)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

chore: split TableHeader component
  packages/lib/src/components/Table/components/TableHeader.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.module.css
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/Table/components/index.ts
Due: prettier --write, eslint

feat: implement tableFilterTypes by prop
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/types/src/table.ts
Due: prettier --write, eslint

fix: add error translations for the length of the feedback dialog message
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/types/src/feedback.ts
Due: prettier --write, eslint

docs: update migration docs
  packages/app/MIGRATION.md
Due: none

fix: fixed an issue where the image on the sso button was not displayed in firefox
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: make tableFilterType switch nullable
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
Due: prettier --write, eslint

fix(ci): remove explicit pnpm versions from github ci,yml
  .github/workflows/ci.yml
Due: none

chore(ci): add packageManager key in package.json
  package.json
Due: sort-package-json

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore(ci): add packageManger to docs package.json
  packages/docs/package.json
Due: sort-package-json

feat(dependencies): update pnpm to v10
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
Due: sort-package-json

chore(ci): configure allowList for dependency lifecycle scripts
  package.json
Due: sort-package-json

chore(ci): update pnpm to 10.10.0
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
Due: sort-package-json

refactor: extract PasswordStrengthIndicator in separate component
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.module.css
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.test.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
Due: prettier --write, eslint

feat: implement password strength indicator for creating and updating a user
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: update user types to include password strength rules when creating and updating a user
  packages/types/src/user.ts
Due: prettier --write, eslint

chore: update package.json files and pnpm-lock.yaml with react-window
  packages/app/package.json
  packages/lib/declaration.d.ts
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: make pagination dropdown support arbitrary item counts
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/TablePagination/TablePagination.module.css
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

chore: update type declarations
  packages/lib/declaration.d.ts
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: add missing default value
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

chore: refactor password hint and only display it when updating an existing user
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: only display one error at a time
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix: load all roles for the roles filter in the users view
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

style: adjust formatting and code style
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

docs: updated migration docs
  packages/app/MIGRATION.md
Due: none

fix: ensure page change triggers on first input selection
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

refactor: use mantine error property instead of external boxes
  packages/app/src/app/[locale]/(public)/set-password/SetPassword.module.css
  packages/lib/src/components/Contact/components/ContactForm.module.css
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.module.css
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/components/RoleForm.module.css
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.module.css
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/User/UserForm.module.css
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix: make it possible to navigate with the keyboard
  packages/lib/src/components/TablePagination/SearchableSelect.module.css
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

fix: use correct translation key
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

chore(frontend): add tailwind.config and move globals.css file
  packages/app/package.json
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  packages/app/tailwind.config.js
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: install and set up tailwindcss
  packages/app/package.json
  packages/app/postcss.config.cjs
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: only look for tailwind classes in the src folder
  packages/lib/src/globals.css
Due: none

fix: fixed an issue where tailwind would not include classes from the lib package
  packages/app/tailwind.config.js
  packages/lib/src/globals.css
Due: prettier --write, eslint

feat: install prettier plugin tailwindcss
  packages/app/src/app/[locale]/layout.tsx
  packages/lib/src/globals.css
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: adjust translation value
  packages/app/public/locales/en/common.json
Due: none
