Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

fix: :wheelchair: add aria-label to add and edit role modal close button
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
Due: prettier --write, eslint

feat: install prettier plugin tailwindcss
  packages/app/src/app/[locale]/layout.tsx
  packages/lib/src/globals.css
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: fix tailwind intellisense for whole project
  .vscode/settings.json
Due: none

chore: only look for tailwind classes in the src folder
  packages/lib/src/globals.css
Due: none

fix: fixed an issue where tailwind would not include classes from the lib package
  packages/app/tailwind.config.js
  packages/lib/src/globals.css
Due: prettier --write, eslint

chore(frontend): add tailwind.config and move globals.css file
  packages/app/package.json
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  packages/app/tailwind.config.js
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: import new tailwindcss in app package
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/globals.css
Due: prettier --write, eslint

chore: install and set up tailwindcss
  packages/app/package.json
  packages/app/postcss.config.cjs
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: app package to use tailwind classes instead of css modules
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/Users.module.css
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.module.css
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/profile/Profile.module.css
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/login/Login.module.css
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPassword.module.css
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/components/RouteProtector.module.css
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/Theme.module.css
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

chore: add new utility function cn to conditionally merge tailwind classes
  .vscode/settings.json
  packages/lib/package.json
  packages/lib/src/utils/cn.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: fix grid
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: replace props with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: fix tailwind class sorting
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: replace gap and size with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: small fixes of tailwind classes
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.module.css
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

chore: replace size with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore(frontend): removed unneeded dependency
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore(frontend): replace mantine props with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Form/InputErrorStack.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

docs: update migration docs
  packages/app/MIGRATION.md
Due: none

chore: fix active state of auto mode in themeselector
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

chore: align title center
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
Due: prettier --write, eslint

chore: fix broken lockfile after rebase
  pnpm-lock.yaml
Due: none

chore: fix wrapping
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

chore: restore top margin
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

chore: fix version of prettier-plugin-tailwindcss
  package.json
  packages/prettier-config/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: restore original layout in userform
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: fix password requirement
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
Due: prettier --write, eslint

chore: restore modal paddings
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
Due: prettier --write, eslint

chore: corrected margin
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
Due: prettier --write, eslint

chore: replace style bindings with tailwind classes
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
Due: prettier --write, eslint

chore: restore action icon sizes
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

chore: implement textDecoration with tailwind class
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
Due: prettier --write, eslint

chore: restored underline look of text inputs
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

chore: :bug: fix twitching of navbar logo on hover
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: :lipstick: improve feedback widget icons
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

chore: :bug: fix footer link color
  packages/lib/src/components/Footer/Footer.tsx
Due: prettier --write, eslint

chore: :lipstick: fix style of checkboxes in darkmode
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

chore: :bug: fix e2e tests for pin icon
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

fix: :bug: fixed a bug where no value would be displayed in table page size
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
