Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

feat(app): add directional spacing utilities for padding and margin
  packages/lib/src/theme.css
Due: none

feat(docs): add API tokens management guide and update meta information
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/api-tokens.mdx
Due: prettier --write, eslint

chore(app): extend MIGRATION.md
  packages/app/MIGRATION.md
Due: none

feat(app): enhance API tokens management with improved date handling and sorting
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
  packages/app/src/utils/dayjs.ts
  packages/app/tsconfig.json
Due: prettier --write, eslint

docs: add migration automation implementation plan
  docs/superpowers/plans/2026-04-08-migration-automation.md
Due: none

docs: add migration automation design spec
  docs/superpowers/specs/2026-04-08-migration-automation-design.md
Due: none

docs: clarify how SCAN step identifies essencium-origin files
  docs/superpowers/specs/2026-04-08-migration-automation-design.md
Due: none

chore: add migration manifest for v9.4.5 (accessibility and CVE fixes)
  packages/app/manifests/9.4.5.yaml
Due: none

chore: add migration manifest for v9.5.0 (React Compiler + Next.js 16)
  packages/app/manifests/9.5.0.yaml
Due: none

feat: add /author-migration skill for release manifest generation
  skills/author-migration/SKILL.md
Due: none

chore: remove spec and plan docs from repository
  docs/superpowers/plans/2026-04-08-migration-automation.md
  docs/superpowers/specs/2026-04-08-migration-automation-design.md
Due: none

refactor: move author-migration skill to .claude/skills/
  .claude/skills/author-migration/SKILL.md
  packages/app/.env.development
Due: none

docs: add CLAUDE.md with project purpose and structure
  CLAUDE.md
Due: none

docs: remove version numbers from CLAUDE.md tech stack
  CLAUDE.md
Due: none

chore: add migration manifests for v6.0.0, v6.1.0, v6.1.1
  packages/app/manifests/6.0.0.yaml
  packages/app/manifests/6.1.0.yaml
  packages/app/manifests/6.1.1.yaml
Due: none

chore: add migration manifests for v7.0.0 through v7.3.0
  packages/app/manifests/7.0.0.yaml
  packages/app/manifests/7.0.1.yaml
  packages/app/manifests/7.1.0.yaml
  packages/app/manifests/7.1.1.yaml
  packages/app/manifests/7.2.0.yaml
  packages/app/manifests/7.3.0.yaml
Due: none

chore: add migration manifests for v7.4.0 through v7.10.0
  packages/app/manifests/7.10.0.yaml
  packages/app/manifests/7.4.0.yaml
  packages/app/manifests/7.5.0.yaml
  packages/app/manifests/7.7.0.yaml
  packages/app/manifests/7.8.0.yaml
  packages/app/manifests/7.9.0.yaml
  packages/app/manifests/7.9.1.yaml
Due: none

chore: add migration manifests for v8.1.0 through v9.4.4
  packages/app/manifests/8.1.0.yaml
  packages/app/manifests/8.1.1.yaml
  packages/app/manifests/9.0.0.yaml
  packages/app/manifests/9.0.1.yaml
  packages/app/manifests/9.1.0.yaml
  packages/app/manifests/9.2.0.yaml
  packages/app/manifests/9.3.0.yaml
  packages/app/manifests/9.4.0.yaml
  packages/app/manifests/9.4.4.yaml
Due: none

fix: correct manifest schema violations in v6.0.0 through v7.3.0
  packages/app/manifests/6.0.0.yaml
  packages/app/manifests/6.1.0.yaml
  packages/app/manifests/6.1.1.yaml
  packages/app/manifests/7.0.0.yaml
  packages/app/manifests/7.0.1.yaml
  packages/app/manifests/7.1.0.yaml
  packages/app/manifests/7.2.0.yaml
  packages/app/manifests/7.3.0.yaml
Due: none

fix: correct manifest schema violations in v7.4.0 through v9.4.0
  packages/app/manifests/7.10.0.yaml
  packages/app/manifests/7.4.0.yaml
  packages/app/manifests/7.7.0.yaml
  packages/app/manifests/7.8.0.yaml
  packages/app/manifests/7.9.1.yaml
  packages/app/manifests/8.1.0.yaml
  packages/app/manifests/8.1.1.yaml
  packages/app/manifests/9.0.0.yaml
  packages/app/manifests/9.3.0.yaml
  packages/app/manifests/9.4.0.yaml
Due: none

fix: remaining schema violations in v7.4.0 and v7.8.0 manifests
  packages/app/manifests/7.4.0.yaml
  packages/app/manifests/7.8.0.yaml
Due: none

chore: add migration manifest for v8.0.0
  packages/app/manifests/8.0.0.yaml
Due: none

refactor(app): remove unused variable eslint directive in API tokens page
  packages/app/src/app/[locale]/(main)/admin/api-tokens/page.tsx
Due: prettier --write, eslint

feat(app): add default form values for API token creation
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
  packages/types/src/apiToken.ts
Due: prettier --write, eslint

feat(app): add formatDate utility function with tests
  packages/app/src/utils/formatDate.test.ts
  packages/app/src/utils/formatDate.ts
Due: prettier --write, eslint

refactor(app): extract shared STATUS_COLORS, use formatDate util, simplify admin token fetching
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
  packages/app/src/utils/apiToken.ts
Due: prettier --write, eslint

refactor(app): consolidate duplicate validUntil computation in CreateApiTokenModal
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
Due: prettier --write, eslint

fix(app): resolve lint and formatting errors in api-token views
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/admin/api-tokens/page.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
Due: prettier --write, eslint

feat(app): add API token feature (#972)
  packages/app/MIGRATION.md
  packages/app/next.config.js
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/apiToken.ts
  packages/app/src/api/index.ts
  packages/app/src/api/me.ts
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/admin/api-tokens/page.tsx
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/TokenCreatedModal.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/[locale]/providers.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/globals.css
  packages/app/src/utils/apiToken.ts
  packages/app/src/utils/dayjs.ts
  packages/app/src/utils/formatDate.test.ts
  packages/app/src/utils/formatDate.ts
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/api-tokens.mdx
  packages/lib/src/theme.css
  packages/types/src/apiToken.ts
  packages/types/src/index.ts
  packages/types/src/right.ts
Due: prettier --write, eslint

feat(app): add next-intl configuration and middleware
  packages/app/next.config.mjs
  packages/app/src/i18n/navigation.ts
  packages/app/src/i18n/request.ts
  packages/app/src/i18n/routing.ts
  packages/app/src/middleware.ts
Due: prettier --write, eslint

refactor(app): migrate app components and pages to next-intl
  packages/app/src/api/auth.ts
  packages/app/src/api/contact.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/rights/page.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/page.tsx
  packages/app/src/app/[locale]/(main)/contact/page.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/page.tsx
  packages/app/src/app/[locale]/(main)/page.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/page.tsx
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/profile/page.tsx
  packages/app/src/app/[locale]/(public)/layout.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/login/page.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/app/[locale]/(public)/set-password/page.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

refactor(app): migrate translations admin page to next-intl
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

fix(lib): correct NavBar ariaLabel translation key casing
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: fix linting error
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

refactor(app): remove deprecated i18n infrastructure
  packages/app/src/components/provider/translationProvider.tsx
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useAddTranslation.ts
  packages/app/src/proxy.ts
Due: prettier --write, eslint

chore!: update dependencies for next-intl migration, bump lib to v10
  packages/app/package.json
  packages/lib/package.json
  packages/lib/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: integrate NextIntlClientProvider in NavBar tests
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/lib/src/components/NavBar/NavBar.test.tsx
Due: prettier --write, eslint

refactor(lib)!: migrate all lib components to next-intl
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Form/InputErrorStack.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

refactor: simplify generateMetadata function by removing unused parameters
  packages/app/src/app/[locale]/(main)/admin/rights/page.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/page.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/page.tsx
  packages/app/src/app/[locale]/(main)/contact/page.tsx
  packages/app/src/app/[locale]/(main)/page.tsx
  packages/app/src/app/[locale]/(main)/profile/page.tsx
  packages/app/src/app/[locale]/(public)/login/page.tsx
  packages/app/src/app/[locale]/(public)/set-password/page.tsx
  packages/app/src/app/[locale]/layout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

refactor: replace react-i18next with next-intl for translations in API token components
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/admin/api-tokens/page.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/TokenCreatedModal.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
