Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

wip: [ci-skip]
  packages/app/package.json
  packages/app/postcss.config.cjs
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/roles/roles.module.css
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/pages/users/users.module.css
  packages/lib/package.json
  packages/lib/postcss.config.cjs
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.module.css
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.module.css
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/Login/Login.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Translations/Translations.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: change role object of user to list of role objects
  packages/app/.env
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/me.ts
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

refactor: change map and flat to flatMap
  packages/app/src/api/me.ts
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

chore: update BASE_URL
  packages/app/.env
Due: none

refactor: use LoaderProps type from Mantine
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
Due: prettier --write, eslint

refactor: change color from string to theme color
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor: add mantine props object and remove default color
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
Due: prettier --write, eslint

refactor: remove default for color and variant
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
Due: prettier --write, eslint

ci: dockerize app
  packages/app/Dockerfile
  packages/app/next.config.js
Due: prettier --write, eslint

refactor: use primary color instead of blue
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor: remove primaryColor
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor: use default primary color for feedbackWidget (#509)
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor: customize LoadingSpinner Component (#495)
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

chore: WIP [ci-skip]
  packages/app/Dockerfile
Due: none

ci: add build docker job
  .github/workflows/ci.yml
Due: none

ci: change path
  .github/workflows/ci.yml
Due: none

ci: comment out cache
  .github/workflows/ci.yml
Due: none

ci: adjust run command
  .github/workflows/ci.yml
Due: none

ci: adjust download path
  .github/workflows/ci.yml
Due: none

ci: remove condition for build docker image
  .github/workflows/ci.yml
Due: none

ci: adjust artifacts path
  .github/workflows/ci.yml
Due: none

chore: WIP [ci-skip]
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/roles/roles.module.css
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/User/UserForm.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: WIP [ci-skip]
  packages/app/package.json
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/roles/roles.module.css
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/utils/withBaseStylingShowNotification.ts
  packages/lib/package.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/Table/Table.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

docs: fix links
  packages/docs/pages/devguide/codestyle-and-linting.mdx
Due: none

docs: add migration section
  packages/app/MIGRATION.md
  packages/docs/pages/_meta.json
  packages/docs/pages/devguide/pull-requests.mdx
  packages/docs/pages/migrationguide.mdx
Due: none

docs: update nextra and nextra docs theme
  packages/docs/package.json
Due: sort-package-json

chore: add todo for implementing changes
  .github/ISSUE_TEMPLATE/issue.md
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: avoid hydration errors with mixins for colorScheme
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/users/users.module.css
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
Due: prettier --write, eslint

chore: update docs
  packages/docs/pages/styleguide/styling-conventions.mdx
Due: none

chore: update vitest
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

test: update & add tests
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

chore: remove unused code
  packages/lib/src/components/Header/Header.test.tsx
Due: prettier --write, eslint

chore: improve language
  packages/docs/pages/migrationguide.mdx
Due: none

docs: add migration section
  .github/ISSUE_TEMPLATE/issue.md
  packages/app/MIGRATION.md
  packages/docs/package.json
  packages/docs/pages/_meta.json
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pages/devguide/pull-requests.mdx
  packages/docs/pages/migrationguide.mdx
  pnpm-lock.yaml
Due: sort-package-json

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
