Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: upgrade to next 14
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

ci: disable nx
  .github/workflows/ci.yml
Due: none

ci: debug
  packages/app/Dockerfile
Due: none

ci: debug
  .github/workflows/ci.yml
Due: none

chore: test
  packages/app/src/pages/_app.tsx
Due: prettier --write, eslint

chore: add root-level dev cmd for docs
  package.json
Due: sort-package-json

docs: update how migrations are written
  packages/docs/pages/migrationguide.mdx
Due: none

chore: revert settings
  .vscode/essencium-frontend.code-workspace
Due: none

test: update & add tests
  packages/lib/src/components/Login/components/LoginForm/LoginForm.test.tsx
Due: prettier --write, eslint

test: update tests
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
Due: prettier --write, eslint

docs: update how migrations are written
  package.json
  packages/docs/pages/migrationguide.mdx
Due: sort-package-json

test: set resolve alias for types package
  packages/lib/vitest.config.ts
Due: prettier --write, eslint

chore: leave comment for clarification
  packages/lib/src/components/Login/components/LoginForm/LoginForm.test.tsx
Due: prettier --write, eslint

test: refactor test to be consistent
  packages/lib/src/components/Login/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

test: replace test id with role
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
Due: prettier --write, eslint

test: update tests
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
Due: prettier --write, eslint

test: update & add tests
  packages/lib/src/components/Login/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
  packages/lib/vitest.config.ts
Due: prettier --write, eslint

refactor: refactor setTimeout for conditional rendering
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

refactor: refactor setTimeout for conditional rendering (#535)
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

refactor: apply changes required by BE and CR
  packages/app/src/api/auth.ts
  packages/app/src/api/me.ts
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/pages/users/users.module.css
  packages/app/src/utils/logout.ts
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/User/UserForm.module.css
  packages/lib/src/components/User/UserForm.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

refactor: accept query and request objects
  packages/app/src/api/roles.ts
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
Due: prettier --write, eslint

chore: update MIGRATION file
  packages/app/MIGRATION.md
Due: none

refactor: remove roles props
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/pages/profile/index.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/index.ts
Due: prettier --write, eslint

chore: add new env var for app url
  packages/app/.env
Due: none

fix: set correct path
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

refactor: remove sso badge in profil box
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.module.css
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
Due: prettier --write, eslint

refactor: replace property with new Mantine v7 one
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

chore: prettify redirect to not display the root path
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

refactor: refactor all class accessors to bracket notation
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/index.tsx
  packages/eslint-config/index.cjs
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

feat: add sso support
  packages/app/next.config.js
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/auth.ts
  packages/app/src/pages/login/index.tsx
  packages/lib/src/components/Login/Login.tsx
  packages/lib/src/components/Login/components/index.ts
  packages/lib/src/components/Login/index.ts
  packages/lib/src/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/LoginForm/components/index.ts
  packages/lib/src/components/LoginForm/index.ts
  packages/lib/src/components/index.ts
Due: prettier --write, eslint

chore: remove unnecessary boolean constructor
  packages/app/src/api/auth.ts
Due: prettier --write, eslint

test: extend cmp test for SSO
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

style: outsource styling into CSS module
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
Due: prettier --write, eslint

chore: accept undefined as parameter
  packages/app/src/utils/hasRequiredRights.ts
Due: prettier --write, eslint

test: update tests
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Profile/Profile.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.test.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.test.tsx
Due: prettier --write, eslint

chore: add prio prop to load image with priority
  packages/lib/src/components/Home/Home.tsx
Due: prettier --write, eslint

chore: conditionally hide or disable elements if login via SSO
  packages/app/src/api/auth.ts
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/utils/logout.ts
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
Due: prettier --write, eslint

refactor: outsource styles into CSS modules with legal disclaimer
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/AddUserView.module.css
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
  packages/lib/src/components/Home/Home.module.css
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/components/NavLinks.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.module.css
  packages/lib/src/components/Profile/components/ProfileOverviewCard.module.css
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Translations/Translations.module.css
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore: allow images to be loaded from all frachtwerk domains
  packages/app/next.config.js
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
