Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

fix: construct api url correctly
  packages/app/.env
Due: none

chore: update node version to v20
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
Due: sort-package-json

chore: update lockfile
  pnpm-lock.yaml
Due: none

docs: update setup page
  packages/docs/pages/devguide/setup.mdx
Due: none

chore: update node version to v20 (#543)
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/docs/pages/devguide/setup.mdx
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: adjust public app url to staging
  packages/app/.env
Due: none

chore: adjust public app url to staging (#544)
  packages/app/.env
Due: none

test: update tests
  packages/lib/src/components/Table/Table.test.tsx
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: synchronise peer deps with dev deps
  packages/lib/package.json
Due: sort-package-json

refactor: rename variable to be more descriptive
  packages/app/src/pages/users/[id].tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/EditRole.tsx
Due: prettier --write, eslint

docs: change order of menu items to make more sense
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.json
Due: none

docs: add tests page
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/testing.mdx
Due: none

chore: spelling
  packages/docs/pages/devguide/testing.mdx
Due: none

docs: add tests page (#552)
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/testing.mdx
Due: none

feat: remove feedback widget from screenshot
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor(frontend): renaming classNames using BEM
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

feat: close feedback widget on screen capture (#557)
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

test: adjust test with mantine provider and app shell
  packages/lib/src/components/SetPassword/SetPasswordForm.test.tsx
Due: prettier --write, eslint

refactor!: migration to Next 14
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/docs/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor!: migration to tanstack query 5
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/app/src/api/auth.ts
  packages/app/src/api/contact.ts
  packages/app/src/api/me.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/translations.ts
  packages/app/src/api/user.ts
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: structure migration
  packages/app/MIGRATION.md
Due: none

chore: update migration file with latest version, release date, compare
  packages/app/MIGRATION.md
Due: none

chore: update migration entry concerning tanstack query
  packages/app/MIGRATION.md
Due: none

chore: update vitest and chaijs
  package.json
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update axios
  package.json
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: adjust z-index for notification
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

chore: update vulnerabilities
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
