Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

fix: fix semver vulnerability (#467)
  pnpm-lock.yaml
Due: none

fix(frontend): fix next vulnerability
  packages/app/package.json
  packages/docs/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

docs: update architecture sections and config package links (#468)
  packages/docs/pages/architecture.mdx
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pages/devguide/packageResponsibilities.mdx
Due: none

fix: fix zod vulnerability
  packages/app/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: set inital state of foldedNav to true
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

fix: update nx
  .eslintrc.json
  .gitignore
  migrations.json
  nx.json
  package.json
  packages/app/.env
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: remove unnecessary migration changes
  .gitignore
  migrations.json
  nx.json
  packages/app/.env
Due: none

chore: remove unnecessary migration changes
  nx.json
Due: none

fix: update nx (#471)
  .eslintrc.json
  .gitignore
  nx.json
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: adjust changelogs
  packages/app/CHANGELOG.md
  packages/docs/CHANGELOG.md
  packages/lib/CHANGELOG.md
  packages/types/CHANGELOG.md
Due: none

fix: fix Vercel deployment with lower version of Next.js
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix Vercel deployment with lower version of Next.js (#473)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: add tests for navbar
  packages/app/e2e/NavBar.spec.ts
Due: prettier --write, eslint

chore: fix playwright setup
  packages/app/package.json
  packages/app/playwright.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: fix darkmode for rights
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

fix: fix darkmode for rights (#475)
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: adjust tests
  packages/app/e2e/NavBar.spec.ts
  packages/app/playwright.config.ts
Due: prettier --write, eslint

fix: set inital state of foldedNav to true (#470)
  packages/app/e2e/NavBar.spec.ts
  packages/app/package.json
  packages/app/playwright.config.ts
  packages/lib/src/components/NavBar/NavBar.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat: add pnpm v8 support
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: pin pnpm v8 version for volta
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
Due: sort-package-json

feat: add language setup test for other tests
  packages/app/playwright.config.ts
  packages/app/playwright/lang.setup.ts
Due: prettier --write, eslint

chore: wip
  packages/app/public/locales/de/common.json
  packages/app/src/api/feedback.ts
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/types/src/feedback.ts
Due: prettier --write, eslint

chore: wip
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/api/feedback.ts
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/FeedbackWidget/index.ts
Due: prettier --write, eslint

chore: wip [ci-skip]
  packages/app/package.json
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/contact copy.ts
  packages/app/src/api/feedback.ts
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/api/feedback.ts
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/package.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/types/src/feedback.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat: add feedback widget
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/api/feedback.ts
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/types/src/feedback.ts
Due: prettier --write, eslint

refactor: resolve merge conflicts
  pnpm-lock.yaml
Due: none

refactor: move credentials to .env.local file
  packages/app/src/pages/api/feedback.ts
  packages/lib/package.json
Due: prettier --write, eslint, sort-package-json

refactor: changes due to codereview
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/api/feedback.ts
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: refactor mail config
  packages/app/src/pages/api/feedback.ts
Due: prettier --write, eslint

chore: updated pnpm version and generate lockfile
  pnpm-lock.yaml
Due: none

chore: remove blank lines
  packages/app/playwright.config.ts
Due: prettier --write, eslint

chore: add validation of payload
  packages/app/src/pages/api/feedback.ts
Due: prettier --write, eslint

refactor: adjust schema and types
  packages/app/src/pages/api/feedback.ts
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/types/src/feedback.ts
Due: prettier --write, eslint

chore: add test-user
  packages/app/playwright.config.ts
  packages/app/playwright/auth.setup.ts
  packages/app/playwright/lang.setup.ts
Due: prettier --write, eslint

refactor: adjust pr template
  pull_request_template.md
Due: none

feat: add language setup test for other tests (#481)
  packages/app/playwright.config.ts
  packages/app/playwright/auth.setup.ts
  packages/app/playwright/lang.setup.ts
Due: prettier --write, eslint

feat: customize LoadingSpinner Component
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/Login/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

refactor: specify type
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
Due: prettier --write, eslint

feat: upgrade mantine
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json
