Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore(e2e): fix failing test in UsersView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix e2e test for sorting users
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): skip flaky test case for sorting users
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): add more tests to UsersView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

fix: address code review feedback on migration tooling
  .claude/skills/author-migration/SKILL.md
  CLAUDE.md
  packages/app/manifests/8.1.0.yaml
Due: none

chore(e2e): enhance UsersView tests with improved locators and structure
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore: add Vitest configuration for testing with happy-dom environment
  packages/app/vitest.config.mts
Due: none

chore: update CI configuration to use Node 24, skip e2e tests and activate unit tests
  .github/workflows/ci.yml
Due: none

chore: clean up import statements in test files for consistency
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/Notification/HttpNotification.test.tsx
Due: prettier --write, eslint

chore: update Node engine requirements to >=24 across all packages
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
Due: sort-package-json

chore: update component tests for improved accuracy and consistency
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/Notification/HttpNotification.test.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.test.tsx
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
Due: prettier --write, eslint

chore: fix test for TablePagination
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
Due: prettier --write, eslint

chore: wrap components in NextIntlClientProvider for internationalization support in tests
  packages/app/src/utils/formatDate.ts
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/Footer/Footer.test.tsx
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.test.tsx
  packages/lib/src/components/Profile/Profile.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.test.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.test.tsx
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
Due: prettier --write, eslint

fix: exclude flaky e2e from pipeline (#971)
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  packages/app/src/utils/formatDate.ts
  packages/app/vitest.config.mts
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/Footer/Footer.test.tsx
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/Notification/HttpNotification.test.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.test.tsx
  packages/lib/src/components/Profile/Profile.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.test.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.test.tsx
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
  packages/prettier-config/package.json
  packages/types/package.json
Due: prettier --write, eslint, sort-package-json

feat(auth): hydrate user state from jwt claims
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/utils/parseJwt.ts
Due: prettier --write, eslint

fix(api): harden token handling and query lifecycle
  packages/app/package.json
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/api/base/find.ts
  packages/app/src/api/base/update.ts
Due: prettier --write, eslint, sort-package-json

fix(app): hydrate user state on token renewal and clean up oauth flow
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
Due: prettier --write, eslint

test(app): add unit tests for getAuthStateFromToken
  packages/app/src/api/auth.test.ts
Due: prettier --write, eslint

refactor(app): unify auth state cleanup via jotai store
  packages/app/src/api/api.ts
  packages/app/src/api/auth-atoms.ts
  packages/app/src/api/auth.ts
Due: prettier --write, eslint

fix(app): fix lint errors after auth-atoms extraction
  packages/app/src/api/auth.test.ts
  packages/app/src/api/auth.ts
Due: prettier --write, eslint

feat(app): hydrate user state from jwt claims
  packages/app/package.json
  packages/app/src/api/api.ts
  packages/app/src/api/auth-atoms.ts
  packages/app/src/api/auth.test.ts
  packages/app/src/api/auth.ts
  packages/app/src/api/base/find.ts
  packages/app/src/api/base/update.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/utils/parseJwt.ts
Due: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore(app): add migration manifest and update MIGRATION.md for v10.0.0
  packages/app/MIGRATION.md
  packages/app/manifests/10.0.0.yaml
Due: none

chore: release main (#970)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/manifests/10.0.0.yaml
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: enhance author migration manifest with breaking change documentation and downstream warnings
  .claude/skills/author-migration/SKILL.md
Due: none

chore: update migration documentation and downstream warnings for next-intl transition
  packages/app/MIGRATION.md
  packages/app/manifests/10.0.0.yaml
Due: none

chore: address review feedback on author-migration skill
  .claude/skills/author-migration/SKILL.md
Due: none

Improve author migration (#996)
  .claude/skills/author-migration/SKILL.md
  packages/app/MIGRATION.md
  packages/app/manifests/10.0.0.yaml
Due: none

chore(devops): use docker hardened images as base images
  Dockerfile
  packages/app/README.md
Due: none

chore(ci): login to Docker Hardened Images registry
  .github/workflows/ci.yml
Due: none

chore(docs): fix address of postgres in docker stack docs
  packages/app/README.md
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
