Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

chore: add example env local
  packages/app/.env.local.example
Due: none

feat: add runtime config feature
  packages/app/.env
  packages/app/next.config.js
  packages/app/public/runtimeConfig.js
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/instrumentation.ts
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/_document.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/types.ts
Due: prettier --write, eslint

chore: remove deprecated list item
  .github/ISSUE_TEMPLATE/issue.md
Due: none

docs: add section for runtime config
  packages/docs/pages/architecture.mdx
  packages/docs/pages/architecture/_meta.json
  packages/docs/pages/architecture/overview.mdx
  packages/docs/pages/architecture/runtime-config.mdx
Due: none

fix: check via env var if Vercel environment
  packages/app/.env
  packages/app/next.config.js
  packages/app/src/instrumentation.ts
Due: prettier --write, eslint

test: implement component test
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

fix: fix UsersView E2E Test
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

fix: fix E2E test for RolesView
  packages/app/e2e/RolesView.spec.ts
Due: prettier --write, eslint

Fix E2E Tests (#607)
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

refactor: remove unneccessary logic
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

refactor: remove screenshot from email text
  packages/app/src/pages/api/feedback.ts
Due: prettier --write, eslint

refactor: format feedback message
  packages/app/src/pages/api/feedback.ts
Due: prettier --write, eslint

chore: update vulnerability braces
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  pnpm-lock.yaml
Due: none

refactor: pass arbitrary number of key value pairs to feedback widget (#604)
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/api/feedback.ts
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.test.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/types/src/feedback.ts
Due: prettier --write, eslint

chore: update vulnerability braces (#608)
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  pnpm-lock.yaml
Due: none

chore(frontend): remove router from FeedbackWidget
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

chore(frontend): remove router from Home
  .nx/workspace-data/file-map.json
  packages/app/src/pages/index.tsx
  packages/lib/src/components/Home/Home.tsx
Due: prettier --write, eslint

chore(frontend): remove router from NavLink
  .nx/workspace-data/file-map.json
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore(frontend): remove router from Translations
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore(frontend): make lib components compatible with app router
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Notification/HttpNotification.tsx
  packages/lib/src/components/Notification/Notification.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

docs: add release process documentation
  packages/docs/pages/_meta.json
  packages/docs/pages/maintainerguide/_meta.json
  packages/docs/pages/maintainerguide/release-process.mdx
Due: none

chore: set app router usage in lib
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore: simplify onClick function
  packages/app/src/pages/index.tsx
Due: prettier --write, eslint

chore: update docs
  packages/app/README.md
  packages/docs/pages/devguide/packageResponsibilities.mdx
Due: none

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

609 refactor lib and remove usage of pages router instance (#610)
  .nx/workspace-data/file-map.json
  packages/app/MIGRATION.md
  packages/app/README.md
  packages/app/src/pages/index.tsx
  packages/docs/pages/devguide/packageResponsibilities.mdx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Notification/HttpNotification.tsx
  packages/lib/src/components/Notification/Notification.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

feat: lib and remove usage of pages router instance
  .nx/workspace-data/file-map.json
  packages/app/MIGRATION.md
  packages/app/README.md
  packages/app/src/pages/index.tsx
  packages/docs/pages/devguide/packageResponsibilities.mdx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Notification/HttpNotification.tsx
  packages/lib/src/components/Notification/Notification.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: update changelog
  packages/app/CHANGELOG.md
  packages/docs/CHANGELOG.md
  packages/lib/CHANGELOG.md
Due: none

chore: update deprecated pnpx command
  .github/workflows/ci.yml
  package.json
Due: sort-package-json

chore: update MIGRATION.md (#612)
  packages/app/MIGRATION.md
Due: none

refactor: adjust test for NavBar
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

refactor: add blank line
  packages/lib/src/components/NavBar/NavBar.test.tsx
Due: prettier --write, eslint

refactor: adjust test for NavBar (#614)
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

wip: [ci-skip]
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  packages/app-old/package.json
  packages/app/README.md
  packages/app/package.json
  packages/app/src/app/[locale]/(main)/users/[id]/page.tsx
  packages/app/src/app/[locale]/(main)/users/[id]/updateUsersView.tsx
  packages/app/src/app/[locale]/(main)/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/users/page.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/login/page.tsx
  packages/app/src/app/[locale]/(public)/set-password/page.tsx
  packages/app/src/app/[locale]/page.tsx
  packages/app/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: adjust migration
  .nx/workspace-data/file-map.json
  packages/app-old/README.md
  packages/app/src/app/[locale]/(main)/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/users/[id]/page.tsx
  packages/docs/README.md
  packages/docs/pages/devguide/new-component.mdx
  packages/lib/README.md
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/README.md
  packages/types/README.md
Due: prettier --write, eslint

chore: create config folder
  .nx/workspace-data/file-map.json
  packages/app/package.json
  packages/app/src/app/[locale]/(main)/contact/page.tsx
  packages/app/src/app/[locale]/(main)/profile/page.tsx
  packages/app/src/app/[locale]/(main)/rights/page.tsx
  packages/app/src/app/[locale]/(main)/roles/page.tsx
  packages/app/src/app/[locale]/(main)/translations/page.tsx
  packages/app/src/app/[locale]/(main)/users/add/page.tsx
  packages/app/src/app/[locale]/(main)/users/page.tsx
  packages/app/src/app/[locale]/(public)/login/page.tsx
  packages/app/src/app/[locale]/(public)/set-password/page.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/[locale]/page.tsx
  packages/app/src/components/provider/mantineProvider.tsx
  packages/app/src/components/provider/translationProvider.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/config/index.ts
  packages/app/src/config/mantine.ts
  packages/app/src/middleware.ts
Due: prettier --write, eslint, sort-package-json

chore: remove async function declaration
  .nx/workspace-data/file-map.json
  packages/app/src/app/[locale]/(main)/layout.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
