Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: restored underline look of text inputs
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

chore(e2e): configure playwright baseUrl
  packages/app/e2e/HomeView.spec.ts
  packages/app/e2e/LoginView.spec.ts
  packages/app/e2e/NavBar.spec.ts
  packages/app/e2e/ProfileView.spec.ts
  packages/app/e2e/RightsView.spec.ts
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/TranslationsView.spec.ts
  packages/app/e2e/UsersView.spec.ts
  packages/app/e2e/title.spec.ts
  packages/app/playwright.config.ts
  packages/app/playwright/auth.setup.ts
  packages/app/playwright/lang.setup.ts
Due: prettier --write, eslint

feat: add basicEntity and work with the object in table filter
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeader.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/types/src/index.ts
  packages/types/src/misc.ts
Due: prettier --write, eslint

chore: renew token after one minute and every hour
  packages/app/src/api/auth.ts
  packages/app/src/hooks/useScheduleTokenRenewal.ts
Due: prettier --write, eslint

feat(frontend): implement refresh token logic (#814)
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useScheduleTokenRenewal.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/parseJwt.ts
Due: prettier --write, eslint

chore: remove comment
  packages/lib/src/components/Table/components/TableHeader.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: update migration.md
  packages/app/MIGRATION.md
Due: none

chore: release main (#828)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix: render NextLink using other mantine components as polymorphic component
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.module.css
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.tsx
Due: prettier --write, eslint

feat(ci): adjust Dockerfile to support NODE_ENV environment
  Dockerfile
Due: none

feat(ci): add explicit test, development & production environment definitions
  packages/app/.env.development
  packages/app/.env.production
  packages/app/.env.test
  packages/app/package.json
Due: sort-package-json

chore(e2e): add visibility assertions to flaky navBar e2e test
  packages/app/e2e/NavBar.spec.ts
Due: prettier --write, eslint

feat(ci): add fullstack compose file
  docker-compose.yml
Due: none

feat(ci): add backend docker compose file
  backend.docker-compose.yml
Due: none

feat(e2e): add support for node environments to playwright config
  packages/app/package.json
  packages/app/playwright.config.ts
Due: prettier --write, eslint, sort-package-json

style(app): :lipstick: improve checkboxes in darkmode
  packages/app/src/config/Theme.module.css
Due: none

style(frontend): improve dark mode appearance of checkboxes
  packages/app/src/config/Theme.module.css
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

chore(deps): :arrow_up: upgrade mantine to 8.2.0
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

docs: :memo: update migration docs
  packages/app/MIGRATION.md
Due: none

fix(lib): :bug: fix focus problem with resetPassword link
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

fix(lib): :bug: fix focus problem with the logout button
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

fix(lib): :bug: fix a problem where theme selector was not accessible
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

fix(app): :bug: fixed accessibility issues with table actions
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

docs(app): :memo: update migration docs
  packages/app/MIGRATION.md
Due: none

fix(lib): :bug: fix focus errors with the feedback widget
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint

fix(lib): :bug: fix accessibility issues with translations view
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

fix(lib): :bug: fixed a bug where goto value would not update
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

fix(lib): :wheelchair: imporoved accessibility of table pagination
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

docs: :memo: migration docs
  packages/app/MIGRATION.md
Due: none

test: fix logout button in e2e tests
  packages/app/e2e/LoginView.spec.ts
  packages/app/e2e/NavBar.spec.ts
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

style: :art: improve readablility
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

fix(app): :wheelchair: improved accessibility for users view table
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

chore: :wheelchair: add scope to table header
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
Due: prettier --write, eslint

test: :bug: select table header by columnheader instead of cell
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): configure videos and screenshots for failing e2e tests
  packages/app/playwright.config.ts
Due: prettier --write, eslint

chore(e2e): remove unnecessary filter in e2e-scripts
  packages/app/package.json
Due: sort-package-json
