Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

refactor: persist target page when session token expires
  packages/app/src/api/api.ts
Due: prettier --write, eslint

refactor: adjust MIGRATION.md
  packages/app/MIGRATION.md
Due: none

refactor: persist target page in url when session token expires (#735)
  packages/app/MIGRATION.md
  packages/app/src/api/api.ts
Due: prettier --write, eslint

style: update active column with different icon and colors
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

refactor: replace custom colors with predefined color scheme
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

refactor: add hint for password setting process
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/User/UserForm.module.css
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

refactor: add hint for password setting process (#741)
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/User/UserForm.module.css
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore(frontend): update nextjs to patched version 15.2.3
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: update nextjs to patched version 15.2.3 (#744)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: update nextjs in docs to 14.2.25
  packages/docs/package.json
Due: sort-package-json

chore: update lockfile
  packages/docs/pnpm-lock.yaml
Due: none

fix: update nextjs in docs to 14.2.25 (#746)
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

fix: fix axios vulnerability
  package.json
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix babel/runtime vulnerability
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: fix vite vulnerability
  packages/app/package.json
  packages/lib/package.json
Due: sort-package-json

chore: install updates
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: install updates
  packages/docs/pnpm-lock.yaml
Due: none

feat: add legal-notice page
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/page.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: add privacy-policy page
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/page.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

Fix vulnerabilities (#747)
  package.json
  packages/app/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main (#724)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: set sample content english
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
Due: prettier --write, eslint

feat: add legal-notice and privacy-policy page
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/page.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/page.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

fix: set only name and mail as required in contact data
  packages/app/MIGRATION.md
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

fix: set only name and mail as required in contact data (#750)
  packages/app/MIGRATION.md
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: release main (#749)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix: fix updating translations
  packages/app/src/api/translations.ts
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/layout.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useAddTranslation.ts
  packages/app/src/utils/getTranslation.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/mergeTranslations.test.ts
  packages/app/src/utils/mergeTranslations.ts
  packages/types/src/translation.ts
Due: prettier --write, eslint

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

fix: update dependencies
  packages/app/package.json
  packages/docs/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update next in docs package to latest
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

fix: fix updating translations (#751)
  packages/app/MIGRATION.md
  packages/app/src/api/translations.ts
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/layout.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useAddTranslation.ts
  packages/app/src/utils/getTranslation.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/mergeTranslations.test.ts
  packages/app/src/utils/mergeTranslations.ts
  packages/types/src/translation.ts
Due: prettier --write, eslint

fix: update dependencies (#753)
  packages/app/package.json
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main (#754)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json
