Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

refactor: app package to use tailwind classes instead of css modules
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/Users.module.css
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.module.css
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.module.css
  packages/app/src/app/[locale]/(main)/legal-notice/LegalNoticeView.tsx
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.module.css
  packages/app/src/app/[locale]/(main)/privacy-policy/PrivacyPolicyView.tsx
  packages/app/src/app/[locale]/(main)/profile/Profile.module.css
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/login/Login.module.css
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPassword.module.css
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/components/RouteProtector.module.css
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/config/Theme.module.css
  packages/app/src/config/mantine.ts
Due: prettier --write, eslint

chore: add new utility function cn to conditionally merge tailwind classes
  .vscode/settings.json
  packages/lib/package.json
  packages/lib/src/utils/cn.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: replace props with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: fix grid
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: fix tailwind class sorting
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: small fixes of tailwind classes
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/app/[locale]/(public)/set-password/SetPasswordView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.module.css
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
Due: prettier --write, eslint

chore: replace gap and size with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore: replace size with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordSuccessMessage.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordRequirement.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Table/components/TableHeaderColumn.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

chore(frontend): replace mantine props with tailwind classes
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Form/InputErrorStack.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Home/Home.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/TablePagination/SearchableSelect.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

ci: create docker compose file
  docker-compose.yml
Due: none

ci: use build cache for pnpm dependencies in Dockerfile
  Dockerfile
Due: none

ci: create Dockerfile
  .dockerignore
  Dockerfile
  packages/app/next.config.js
Due: prettier --write, eslint

chore(ci): fix e2e-tests in GitHub pipeline
  .github/workflows/ci.yml
  package.json
Due: sort-package-json

chore(e2e): temporarily skip failing e2e tests
  packages/app/e2e/HomeView.spec.ts
  packages/app/e2e/LoginView.spec.ts
  packages/app/e2e/NavBar.spec.ts
  packages/app/e2e/ProfileView.spec.ts
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/UsersView.spec.ts
  packages/app/e2e/title.spec.ts
Due: prettier --write, eslint

chore(e2e): fix HomeView.spec.ts
  packages/app/e2e/HomeView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix NavBar.spec.ts
  packages/app/e2e/NavBar.spec.ts
Due: prettier --write, eslint

chore: add playwright auth cache to gitignore
  .gitignore
Due: none

chore(e2e): fix LoginView.spec.ts
  packages/app/e2e/LoginView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix some tests in ProfileView.spec.ts
  packages/app/e2e/ProfileView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix a test in title.spec.ts
  packages/app/e2e/title.spec.ts
Due: prettier --write, eslint

chore(e2e): fix a test in UsersView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(frontend): removed unneeded dependency
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

docs: update migration docs
  packages/app/MIGRATION.md
Due: none

Implement Password Strength Meter for the Set Password Form
  packages/lib/src/components/SetPassword/SetPasswordForm.module.css
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
Due: prettier --write, eslint

chore(e2e): add explicit await for api responses in ProfileView test
  packages/app/e2e/ProfileView.spec.ts
Due: prettier --write, eslint

feat(frontend): implement refresh token logic
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useScheduleTokenRenewal.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/parseJwt.ts
Due: prettier --write, eslint

chore(test)
  packages/app/src/api/auth.ts
  packages/app/src/hooks/useScheduleTokenRenewal.ts
Due: prettier --write, eslint

chore(e2e): add more tests to UsersView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): skip flaky test case for sorting users
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix e2e test for sorting users
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore(e2e): fix failing test in UsersView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

ci: add docker build to ci workflow
  .github/workflows/ci.yml
Due: none

ci: enable push to Dockerhub for pull requests
  .github/workflows/ci.yml
Due: none

ci: align tag naming to backend repo
  .github/workflows/ci.yml
Due: none

ci: also push docker images to GitHub Container Registry
  .github/workflows/ci.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
