Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

refactor: resolve merge conflicts
  packages/lib/src/components/TablePagination/TablePagination.module.css
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

feat: enable props forwarding for lib components that wrap mantine cmps
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: add new migration entry
  packages/app/MIGRATION.md
Due: none

feat: enable props forwarding for appshell mantine components (#582)
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

refactor: accept classes for icons and remove hard-coded coloring
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

refactor: accept classes for group and mail text
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

refactor: accept classes for group, icon and text
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
Due: prettier --write, eslint

fix: accept null for logo and icon
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

fix: move feedbackWidget to footer
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/Footer/Footer.tsx
Due: prettier --write, eslint

fix: move feedbackWidget to footer (#585)
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/Footer/Footer.tsx
Due: prettier --write, eslint

fix: allow passing classes to button component
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

test: fix failing E2E tests
  packages/app/e2e/HomeView.spec.ts
  packages/app/e2e/LoginView.spec.ts
  packages/app/e2e/NavBar.spec.ts
  packages/app/e2e/ProfileView.spec.ts
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/TranslationsView.spec.ts
  packages/app/e2e/UsersView.spec.ts
  packages/app/package.json
  packages/app/playwright.config.ts
  packages/app/playwright/lang.setup.ts
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/NavBar/NavBar.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

docs: add migration entry
  packages/app/MIGRATION.md
Due: none

ci: enable E2E tests
  .github/workflows/ci.yml
Due: none

fix: remove buggy no auth storage stage
  packages/app/e2e/LoginView.spec.ts
Due: prettier --write, eslint

test: fix entry point for login view test
  packages/app/e2e/LoginView.spec.ts
Due: prettier --write, eslint

fix: replace hard-coded app name with i18n variable
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/components/layouts/PublicLayout.tsx
Due: prettier --write, eslint

docs: add page to explain how to create a new ess app
  packages/docs/pages/_meta.json
  packages/docs/pages/getting-started.mdx
Due: none

feat: add route protector component
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

fix: set package to latest version instead of not available one
  packages/lib/package.json
Due: sort-package-json

chore: move profile item on top
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

fix: implement route protector and fix language abnormalities
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/components/RouteProtector.module.css
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_app.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
