Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: wip [ci-skip]
  packages/app/src/pages/404.tsx
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

Revert "Merge pull request #414 from Frachtwerk/393-routeguard-to-check-for-rights"
  packages/app/next.config.js
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

Revert "Merge pull request #415 from Frachtwerk/405-add-loading-state-to-buttons"
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
  packages/lib/src/views/UpdateUserView.tsx
Due: prettier --write, eslint

Merge pull request #414 from Frachtwerk/393-routeguard-to-check-for-rights
  packages/app/next.config.js
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/prettier-config/CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: release main
  packages/prettier-config/package.json
Due: sort-package-json

chore: release main
  packages/types/CHANGELOG.md
Due: none

Merge pull request #415 from Frachtwerk/405-add-loading-state-to-buttons
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
  packages/lib/src/views/UpdateUserView.tsx
Due: prettier --write, eslint

fix: set correct logo in readme
  README.md
Due: none

chore: wip [ci-skip]
  packages/app/next.config.js
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: add loading state to buttons
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
Due: prettier --write, eslint

refactor: add loading state to updateUser
  packages/lib/src/views/UpdateUserView.tsx
Due: prettier --write, eslint

refactor: renaming isLoading variables
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
Due: prettier --write, eslint

ci: comment out nx step for fixing missing SHA
  .github/workflows/ci.yml
Due: none

Revert "ci: comment out nx step for fixing missing SHA"
  .github/workflows/ci.yml
Due: none

chore: disable next telemetry
  packages/app/.env
Due: none

chore: fix readme format
  README.md
Due: none

chore: update build badge
  README.md
Due: none

chore: use md import for logo
  README.md
Due: none

chore: fix badge
  README.md
Due: none

Fix Readme (#434)
  README.md
Due: none

fix: adjust margin in AuthLayout for mobile screens
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: use params to redirect after login
  packages/lib/src/layouts/AuthLayout.tsx
  packages/lib/src/views/LoginView.tsx
Due: prettier --write, eslint

chore: add setup files for creating a new app
  packages/app/misc/tsconfig.app.json
  packages/app/misc/vitest.config.app.ts
Due: prettier --write, eslint

feat: use params to redirect after login (#441)
  packages/lib/src/layouts/AuthLayout.tsx
  packages/lib/src/views/LoginView.tsx
Due: prettier --write, eslint

refactor!: put generic logic/cmps into lib and specific into app pkg
  packages/app/CHANGELOG.md
  packages/app/next-i18next.config.js
  packages/app/public/locales/de/common.json
  packages/app/src/api/contact.ts
  packages/app/src/components/layouts/index.ts
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useZodForm.ts
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/utils/getTranslation.ts
  packages/app/src/utils/hasRequiredRights.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/logout.ts
  packages/app/src/utils/next.ts
  packages/app/src/utils/parseSorting.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
  packages/eslint-config/index.cjs
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/index.ts
  packages/lib/src/utils/index.ts
  packages/types/CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write, eslint

refactor: merge conflict changes
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/api/contact copy.ts
  packages/app/src/api/index.ts
  packages/app/src/api/me.ts
  packages/app/src/api/rights.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/translations.ts
  packages/app/src/api/user.ts
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/components/layouts/PublicLayout.tsx
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/_document.tsx
  packages/app/src/pages/api/healthcheck.ts
  packages/app/src/pages/translations/index.tsx
  packages/docs/pages/devguide/new-component.mdx
  packages/lib/src/hooks/index.ts
  packages/lib/src/hooks/useZodForm.ts
  packages/lib/src/layouts/index.ts
  packages/lib/src/root/App.tsx
  packages/lib/src/root/Document.tsx
  packages/lib/src/root/index.ts
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ContactView.tsx
  packages/lib/src/views/HomeView.tsx
  packages/lib/src/views/LoginView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RightsView.tsx
  packages/lib/src/views/RolesView.tsx
  packages/lib/src/views/SetPasswordView.tsx
  packages/lib/src/views/TranslationsView.tsx
  packages/lib/src/views/UpdateUserView.tsx
  packages/lib/src/views/UsersView.tsx
  packages/lib/src/views/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint
