Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

fix: typo
  .github/ISSUE_TEMPLATE/bug.md
Due: none

fix: accept UUIDs for id beside number
  packages/types/src/base.ts
Due: prettier --write, eslint

fix: fix layout flickering by using mantine ssr package
  packages/app/package.json
  packages/app/src/pages/_document.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

refactor: add blank line
  packages/app/src/pages/_document.tsx
Due: prettier --write, eslint

refactor: reset form after submit and add custom notification
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/contact.ts
  packages/app/src/pages/contact/index.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
Due: prettier --write, eslint

feat: add functionality to contact form
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/contact.ts
  packages/app/src/pages/contact/index.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
Due: prettier --write, eslint

refactor(frontend): reset form onSuccess
  packages/app/src/pages/contact/index.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

style: format and lint files
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/contact/index.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/utils/hasRequiredRights.ts
  packages/types/src/contact.ts
  packages/types/src/index.ts
Due: prettier --write, eslint

fix: set page number to zero when fetching roles
  packages/app/src/pages/rights/index.tsx
Due: prettier --write, eslint

refactor!: move api folder from app into lib
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/api/api.ts
  packages/lib/src/api/auth.ts
  packages/lib/src/api/contact.ts
  packages/lib/src/api/index.ts
  packages/lib/src/api/me.ts
  packages/lib/src/api/rights.ts
  packages/lib/src/api/roles.ts
  packages/lib/src/api/translations.ts
  packages/lib/src/api/user.ts
  packages/lib/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: move app over lib in workspace view
  .vscode/essencium-frontend.code-workspace
Due: none

style: comment on the function
  packages/app/src/utils/next.ts
Due: prettier --write, eslint

chore: rename test commands to be consistent
  nx.json
  package.json
  packages/app/package.json
  packages/lib/package.json
Due: sort-package-json

refactor: move layout components into lib
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/Layout/AuthLayout.tsx
  packages/lib/src/components/Layout/PublicLayout.tsx
  packages/lib/src/components/Layout/index.ts
  packages/lib/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

chore: remove next eslint config preset
  packages/app/.eslintrc.json
Due: none

fix: load JSONTree only on client-side to prevent SSR issues
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore: clean CHANGELOG file
  packages/eslint-config/CHANGELOG.md
  packages/prettier-config/CHANGELOG.md
Due: none

refactor: move pages into lib
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/_document.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/package.json
  packages/lib/rollup.config.js
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/index.ts
  packages/lib/src/components/index.ts
  packages/lib/src/index.ts
  packages/lib/src/layouts/AuthLayout.tsx
  packages/lib/src/layouts/PublicLayout.tsx
  packages/lib/src/layouts/index.ts
  packages/lib/src/root/App.tsx
  packages/lib/src/root/Document.tsx
  packages/lib/src/root/index.ts
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ContactView.tsx
  packages/lib/src/views/HomeView.tsx
  packages/lib/src/views/LoginView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RightsView.tsx
  packages/lib/src/views/RolesView.tsx
  packages/lib/src/views/SetPasswordView.tsx
  packages/lib/src/views/TranslationsView.tsx
  packages/lib/src/views/UpdateUserView.tsx
  packages/lib/src/views/UsersView.tsx
  packages/lib/src/views/index.ts
  packages/lib/tsconfig.base.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: apply commit 81b7590
  packages/lib/src/views/RightsView.tsx
Due: prettier --write, eslint

ci: disable unit tests until they're fixed
  .github/workflows/ci.yml
Due: none

fix(lib): add loading state
  packages/lib/src/views/UsersView.tsx
Due: prettier --write, eslint

refactor(lib): use precise naming
  packages/lib/src/views/UsersView.tsx
Due: prettier --write, eslint

refactor: remove Renovate in favour of Dependabot
  packages/docs/pages/architecture.mdx
  packages/docs/pages/devguide/dependencies.mdx
  renovate.json
Due: none

chore: wip [ci-skip]
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: add loading state to buttons
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/ProfileSettingsForm.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/lib/src/views/AddUserView.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
Due: prettier --write, eslint

refactor: add loading state to updateUser
  packages/lib/src/views/UpdateUserView.tsx
Due: prettier --write, eslint

feat: add routeguard
  packages/lib/src/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore: add wildcard rewrite
  packages/app/next.config.js
Due: prettier --write, eslint

chore: wip [ci-skip]
  packages/app/next.config.js
  packages/app/src/pages/_404.tsx
Due: prettier --write, eslint

chore: wip [ci-skip]
  packages/app/src/pages/404.tsx
Due: prettier --write, eslint

refactor: renaming isLoading variables
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/views/ProfileView.tsx
  packages/lib/src/views/RolesView.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
