Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

fix: fix pathname in RouteProtector
  packages/app/src/app/[locale]/(main)/layout.tsx
  packages/app/src/app/[locale]/page.tsx
  packages/app/src/components/RouteProtector.tsx
Due: prettier --write, eslint

fix: fix pathname in RouteProtector (#645)
  packages/app/src/app/[locale]/(main)/layout.tsx
  packages/app/src/app/[locale]/page.tsx
  packages/app/src/components/RouteProtector.tsx
Due: prettier --write, eslint

refactor: use pnpm only and remove nx
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  README.md
  nx.json
  package.json
  packages/app/package.json
  packages/app/src/app/[locale]/(public)/login/Login.module.css
  packages/docs/package.json
  packages/docs/pages/architecture.mdx
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pages/devguide/new-component.mdx
  packages/docs/pages/devguide/new-page.mdx
  packages/docs/pages/devguide/releases.mdx
  packages/docs/pages/index.mdx
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor(docs): exclude docs in monorepo
  package.json
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: sort-package-json

chore: formatting
  README.md
Due: none

chore: update vitest and add coverage
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: add example env local
  packages/app/.env.local.example
Due: none

chore: remove deprecated list item
  .github/ISSUE_TEMPLATE/issue.md
Due: none

feat: add runtime config feature
  packages/app/.env
  packages/app/next.config.js
  packages/app/public/runtimeConfig.js
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(main)/layout.tsx
  packages/app/src/instrumentation.ts
  packages/app/src/types.ts
Due: prettier --write, eslint

docs: add section for runtime config
  packages/docs/pages/architecture.mdx
  packages/docs/pages/architecture/_meta.json
  packages/docs/pages/architecture/overview.mdx
  packages/docs/pages/architecture/runtime-config.mdx
Due: none

fix: check via env var if Vercel environment
  packages/app/.env
  packages/app/next.config.js
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/instrumentation.ts
Due: prettier --write, eslint

docs: add warning for vercel deployments
  packages/docs/pages/architecture/runtime-config.mdx
Due: none

refactor: resolve app router merge conflicts
  packages/app/src/app/[locale]/(main)/layout.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/docs/pages/architecture/overview.mdx
Due: prettier --write, eslint

fix: remove the ability to mark a role as uneditable or protected
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
Due: prettier --write, eslint

refactor: refactor code and add test
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

feat: add password strength validation to userProfile
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

refactor: fix type errors
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

refactor: minor code review changes
  packages/app/src/app/[locale]/(main)/rights/RightsView.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
Due: prettier --write, eslint

Update UserForm component to use 'active' label and color variable
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

Add password strength meter to user profile (#654)
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/rights/RightsView.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordRequirement.tsx
  packages/types/src/user.ts
Due: prettier --write, eslint

chore: fix rollup vulnerability
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

ci: update github action dependencies
  .github/workflows/ci.yml
Due: none

ci: upgrade to node 22
  .github/workflows/ci.yml
Due: none

ci: update and migrate release-please
  .github/workflows/ci.yml
Due: none

fix: remove the ability to mark a role as uneditable or protected (#655)
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
Due: prettier --write, eslint

ci: allow failing
  .github/workflows/ci.yml
Due: none

ci: set permissions
  .github/workflows/ci.yml
Due: none

Revert "ci: set permissions"
  .github/workflows/ci.yml
Due: none

ci: roll back to release-please v3
  .github/workflows/ci.yml
Due: none

ci: upgrade to release-please v4
  .github/workflows/ci.yml
Due: none

chore(main): release 1.0.1
  .release-please-manifest.json
  CHANGELOG.md
  package.json
Due: sort-package-json

ci: upgrade to release-please v4
  .github/workflows/ci.yml
  release-please-config.json
Due: none

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

ci: fix command for building
  .github/workflows/ci.yml
Due: none

ci: set replay limit
  release-please-config.json
Due: none

ci: update download-artifact action to v4
  .github/workflows/ci.yml
Due: none

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

feat: add password strength meter to user profile
  packages/types/src/user.ts
Due: prettier --write, eslint
