Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

fix: adjust logic to listen to the 'NEXT_PUBLIC_ENV' variable
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

feat: toggle version indicator via env var
  packages/app/.env
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: remove margin left
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: set NEXT_PUBLIC_ENV var
  packages/app/.env
Due: none

chore(app): add utils function
  packages/app/src/utils/hasRequiredRights.ts
Due: prettier --write, eslint

chore(app): add user rights to store
  packages/app/src/api/me.ts
Due: prettier --write, eslint

feat(frontend): add right check for actions
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

chore(lib): replace user with userRights
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore(lib): add right check for translations
  packages/app/src/pages/translations/index.tsx
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore(app): remove unused import
  packages/app/src/api/me.ts
Due: prettier --write, eslint

fix: make boolean env var consistent with 0 or 1
  packages/app/.env
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: persist sidebar state in local storage
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore(app): refactor usage of atom
  packages/app/src/api/me.ts
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

chore: clean up codebase
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/lib/src/utils/index.ts
Due: prettier --write, eslint

chore(app): filter spotlight search for rights
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore(app): import utils function from lib
  packages/app/src/api/me.ts
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

Revert "chore(app): redirect if rights are missing"
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore(app): redirect if rights are missing
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

refactor: create hasRequiredRights function in lib
  packages/lib/src/utils/hasRequiredRights.ts
Due: prettier --write, eslint

chore(lib): put rights-logic in lib
  packages/app/src/pages/translations/index.tsx
  packages/lib/src/components/Translations/Translations.tsx
Due: prettier --write, eslint

chore: add pre-commit package json sorting
  pnpm-lock.yaml
Due: none

docs: update some docs pages (codestyle, linting, navi, setup, architec)
  packages/docs/pages/devguide/codestyle-and-linting.mdx
Due: none

chore: version monorepo
  package.json
Due: sort-package-json

chore: add prettier-config to release please config
  release-please-config.json
Due: none

chore: add prettier config package
  .prettierrc
  .vscode/essencium-frontend.code-workspace
  package.json
  packages/app/.prettierrc
  packages/app/package.json
  packages/docs/.prettierrc
  packages/docs/.prettierrc.json
  packages/docs/package.json
  packages/lib/.prettierignore
  packages/lib/.prettierrc
  packages/lib/.prettierrc.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/prettier-config/prettier-config.json
  packages/types/.prettierignore
  packages/types/.prettierrc
  packages/types/.prettierrc.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: remove redundant configs (those are the defaults)
  release-please-config.json
Due: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/issue.md
Due: none

ci: add prettier-config package to release job and omit no-git flag
  .github/workflows/ci.yml
Due: none

chore: ignore playwright generated file
  packages/app/.prettierignore
Due: none

feat: add eslint config package
  .eslintrc.json
  .github/workflows/ci.yml
  .vscode/essencium-frontend.code-workspace
  package.json
  packages/app/.eslintrc.json
  packages/app/.prettierrc
  packages/app/package.json
  packages/app/playwright.config.ts
  packages/app/tsconfig.json
  packages/docs/.eslintignore
  packages/docs/.eslintrc.json
  packages/docs/.prettierrc
  packages/docs/tsconfig.json
  packages/eslint-config/.prettierrc
  packages/eslint-config/index.cjs
  packages/eslint-config/package.json
  packages/lib/.eslintrc.json
  packages/lib/.prettierrc
  packages/lib/package.json
  packages/lib/tsconfig.json
  packages/prettier-config/index.json
  packages/prettier-config/package.json
  packages/types/.eslintrc.json
  packages/types/.prettierrc
  packages/types/package.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
  scripts/seed-db.ts
Due: prettier --write, eslint, sort-package-json

docs: update docs for prettier and eslint package
  packages/docs/pages/architecture.mdx
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pages/devguide/packageResponsibilities.mdx
Due: none

chore: apply prettier
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/roles/index.tsx
Due: prettier --write, eslint

chore: update lockfile
  pnpm-lock.yaml
Due: none

refactor: remove merge conflict clutter
  packages/docs/pages/devguide/packageResponsibilities.mdx
Due: none

chore: add eslint package to release-please
  release-please-config.json
Due: none

refactor: add some configs to release-please from main branch
  release-please-config.json
Due: none

chore: remove playwright temp folder
  packages/app/playwright/.auth/noAuth.json
  packages/app/playwright/.auth/user.json
Due: none

chore: add playwright temp folder to gitignore
  packages/app/.gitignore
Due: none

chore: remove playwright temp file
  packages/app/.prettierignore
Due: none
