Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

fix: dont allow to deselect a language
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix(frontend): use next-i18next instead of react-i18next
  packages/app/src/api/contact.ts
Due: prettier --write, eslint

refactor: adjust language
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
Due: none

refactor: remove unused prop
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat: extend function to also accepted an array of rights
  packages/app/src/utils/hasRequiredRights.ts
Due: prettier --write, eslint

feat: implement roles enum like rights
  packages/app/src/pages/users/index.tsx
  packages/types/src/role.ts
Due: prettier --write, eslint

fix: also list items that do not require rights in spotlight search
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

refactor: get rid of outdated mantine next package
  packages/app/package.json
  packages/app/src/pages/_document.tsx
  packages/lib/package.json
  packages/lib/rollup.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

feat: add route protector component
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/pages/contact/index.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/profile/index.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/translations/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

fix: implement route protector and fix language abnormalities
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/components/RouteProtector.module.css
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/_app.tsx
Due: prettier --write, eslint

fix: set package to latest version instead of not available one
  packages/lib/package.json
Due: sort-package-json

chore: move profile item on top
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

fix(frontend): set first table col only sticky on concerning prop
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

fix(frontend): set first table col only sticky on concerning prop (#595)
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: adjust migration.md
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/lib/CHANGELOG.md
Due: none

chore: fix tests
  packages/app/e2e/TranslationsView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

feat: new responsive login design based on screen size
  packages/app/public/img/web/background.png
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

chore: update vulnerability braces
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update vulnerability braces (#600)
  .gitignore
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  package.json
  pnpm-lock.yaml
Due: sort-package-json

test: comment out e2e tests
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

refactor: add test and refactor import
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/index.ts
  packages/lib/src/utils/hasRequiredRights.test.ts
Due: prettier --write, eslint

refactor: comment out e2e test
  packages/app/e2e/UsersView.spec.ts
Due: prettier --write, eslint

refactor: refactor and extend hasRequiredRights function
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/utils/hasRequiredRights.ts
  packages/app/src/utils/index.ts
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/utils/hasRequiredRights.ts
  packages/types/src/navbar.ts
Due: prettier --write, eslint

refactor: fix test and remove unused code
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore: update playwright version
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update lockfile
  pnpm-lock.yaml
Due: none

refactor: refactor and extend hasRequiredRights function (#598)
  packages/app/e2e/RolesView.spec.ts
  packages/app/e2e/UsersView.spec.ts
  packages/app/package.json
  packages/app/src/components/RouteProtector.tsx
  packages/app/src/pages/rights/index.tsx
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/users/index.tsx
  packages/app/src/utils/hasRequiredRights.ts
  packages/app/src/utils/index.ts
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/index.ts
  packages/lib/src/utils/hasRequiredRights.test.ts
  packages/lib/src/utils/hasRequiredRights.ts
  packages/types/src/navbar.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: update to pnpm v9
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile.hash
  .nx/workspace-data/parsed-lock-file.json
  .nx/workspace-data/project-graph.json
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/prettier-config/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: apply user locale without re-rendering unnecessarily
  .github/workflows/ci.yml
  .nx/workspace-data/file-map.json
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/profile/index.tsx
Due: prettier --write, eslint

feat: new login design
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
Due: prettier --write, eslint

refactor: pass arbitrary number of key value pairs to feedback widget
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/pages/api/feedback.ts
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/types/src/feedback.ts
Due: prettier --write, eslint
