Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

Update packages/app/src/api/me.ts
  packages/app/src/api/me.ts
Due: prettier --write, eslint

chore: lint fix
  packages/app/src/api/base/infinite.ts
  packages/app/src/api/base/page.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/hooks/useZodForm.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

chore: update react-hook-form dependency
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore: fix tailwind config
  packages/app/src/globals.css
  packages/lib/package.json
  packages/lib/rollup.config.js
Due: prettier --write, eslint, sort-package-json

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore(lib): add rollup again
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore(app): fix tanstack import
  packages/app/package.json
  packages/app/src/api/base/all.ts
  packages/app/src/api/base/create.ts
  packages/app/src/api/base/delete.ts
  packages/app/src/api/base/find.ts
  packages/app/src/api/base/update.ts
  packages/lib/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore(app): fix linting
  packages/app/.eslintrc.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: update next.js
  packages/app/package.json
  packages/docs/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: update seed-db script to use new faker methods and improve error handling
  package.json
  packages/app/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
  scripts/seed-db.ts
Due: prettier --write, eslint, sort-package-json

chore(deps): upgrade @tanstack/react-query from 5.90.7 to 5.90.21
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor: update onSuccess callback args for clarity
  packages/app/src/api/base/create.ts
  packages/app/src/api/base/delete.ts
  packages/app/src/api/base/update.ts
Due: prettier --write, eslint

chore(app): downgrade next to 16.0.x
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor(app): migrate to useLogout hook in components
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

feat(app): add useLogout hook with backend endpoint integration
  .gitignore
  packages/app/src/api/auth.ts
Due: prettier --write, eslint

feat(logout): implement logout functionality calling backend endpoint with token handling
  packages/app/src/utils/logout.ts
Due: prettier --write, eslint

chore: update .gitignore to exclude .idea directory
  .gitignore
Due: none

refactor(app): remove deprecated logout utility function
  packages/app/src/utils/index.ts
  packages/app/src/utils/logout.ts
Due: prettier --write, eslint

docs(docs): add authentication guide with logout documentation
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/authentication.mdx
Due: prettier --write, eslint

refactor(app): replace logout call with clearAuthState in 401 interceptor
  packages/app/src/api/api.ts
Due: prettier --write, eslint

Backend init logout endpoint (#874)
  .gitignore
  packages/app/src/api/api.ts
  packages/app/src/api/auth.ts
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/app/src/utils/index.ts
  packages/app/src/utils/logout.ts
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/authentication.mdx
Due: prettier --write, eslint

chore(app): downgrade next to 16.0.x (#935)
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore(deps-dev): bump axios from 1.13.2 to 1.13.5 (#936) (#937)
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: sort-package-json

fix(deps): update vulnerable dependencies identified by Dependabot
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(deps): update vulnerable dependencies identified by Dependabot (#938)
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

feat(eslint-config): migrate to eslint v9 flat config
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  packages/eslint-config/src/legacy.cjs
  packages/eslint-config/src/rules/airbnb-extracted.js
  packages/eslint-config/src/rules/essencium.js
Due: prettier --write, eslint, sort-package-json

docs(eslint-config): update documentation for v9 migration
  packages/eslint-config/README.md
Due: none

feat(app): migrate to eslint v9 flat config
  packages/app/.eslintrc.json
  packages/app/eslint.config.mjs
  packages/app/package.json
Due: sort-package-json

feat(lib): migrate to eslint v9 flat config
  packages/lib/.eslintignore
  packages/lib/.eslintrc.json
  packages/lib/eslint.config.mjs
  packages/lib/package.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
Due: prettier --write, eslint, sort-package-json

feat(types): migrate to eslint v9 flat config
  packages/types/.eslintignore
  packages/types/.eslintrc.json
  packages/types/eslint.config.mjs
  packages/types/package.json
Due: sort-package-json

feat(docs): migrate to eslint v9 flat config
  packages/docs/.eslintrc.json
  packages/docs/eslint.config.mjs
  packages/docs/package.json
Due: sort-package-json

feat(root): migrate to eslint v9 flat config
  .eslintrc.json
  eslint.config.mjs
  package.json
Due: sort-package-json

chore: update lockfile for eslint v9 migration
  pnpm-lock.yaml
Due: none

chore(docs): adjust docs eslint compatibility
  packages/docs/.eslintignore
  packages/docs/eslint.config.mjs
  packages/docs/next-env.d.ts
  packages/docs/next.config.mjs
  packages/docs/package.json
  packages/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore(frontend): apply linting in app
  packages/app/eslint.config.mjs
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/page.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/utils/parseJwt.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

chore(docs): update docs
  packages/docs/package.json
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/eslint-config/src/legacy.cjs
  packages/types/eslint.config.mjs
Due: sort-package-json

chore(docs): adjust docs eslint compatibility
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: sort-package-json
