Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

feat(eslint-config): 940 eslint upgrade (#941)
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/app/.eslintrc.json
  packages/app/eslint.config.mjs
  packages/app/package.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/admin/translations/page.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/[id]/page.tsx
  packages/app/src/config/i18n.ts
  packages/app/src/utils/parseJwt.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
  packages/docs/.eslintignore
  packages/docs/.eslintrc.cjs
  packages/docs/.eslintrc.json
  packages/docs/next-env.d.ts
  packages/docs/next.config.mjs
  packages/docs/package.json
  packages/docs/pages/devguide/codestyle-and-linting.mdx
  packages/docs/pnpm-lock.yaml
  packages/docs/tsconfig.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  packages/eslint-config/src/legacy.cjs
  packages/eslint-config/src/rules/airbnb-extracted.js
  packages/eslint-config/src/rules/essencium.js
  packages/lib/.eslintignore
  packages/lib/.eslintrc.json
  packages/lib/eslint.config.mjs
  packages/lib/package.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/types/.eslintignore
  packages/types/.eslintrc.json
  packages/types/eslint.config.mjs
  packages/types/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore(app): update next
  packages/app/package.json
  packages/app/src/api/api.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore(app): update next (#943)
  packages/app/package.json
  packages/app/src/api/api.ts
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix: update non-breaking dependencies
  package.json
  packages/app/package.json
  packages/app/playwright.config.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/lib/tsconfig.build.json
  packages/types/package.json
  packages/types/rollup.config.js
  packages/types/tsconfig.build.json
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix(lib): fix warnings in lib
  packages/lib/rollup.config.js
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Notification/HttpNotification.tsx
  packages/lib/src/components/Notification/Notification.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/AddRole.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/prettier-config/index.json
  pnpm-lock.yaml
Due: prettier --write, eslint

fix(types): fix prettier errors
  packages/types/rollup.config.js
Due: prettier --write, eslint

chore(docs): install deps
  packages/docs/pnpm-lock.yaml
Due: none

fix(lib): format lib code
  packages/lib/rollup.config.js
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Home/Home.test.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Notification/HttpNotification.tsx
  packages/lib/src/components/Notification/Notification.tsx
  packages/lib/src/components/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/lib/src/hooks/useZodForm.ts
Due: prettier --write, eslint

fix(app): format app code
  packages/app/src/api/base/all.ts
  packages/app/src/api/base/infinite.ts
  packages/app/src/api/base/page.ts
  packages/app/src/api/base/update.ts
  packages/app/src/app/[locale]/(public)/login/LoginView.tsx
  packages/app/src/hooks/useZodForm.ts
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: release main (#927)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/prettier-config/CHANGELOG.md
  packages/prettier-config/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: update bug fixes in dependencies
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(docs): update docs eslint
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

fix: update rollup deps
  package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

Update Rollup (#949)
  package.json
  packages/app/package.json
  packages/docs/.eslintrc.cjs
  packages/docs/eslint.config.mjs
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: wip: upgrade to zod 4
  packages/app/package.json
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/users/[id]/UpdateUserView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/add/AddUserView.tsx
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/config/zod.ts
  packages/app/src/hooks/index.ts
  packages/app/src/hooks/useZodForm.ts
  packages/lib/package.json
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/hooks/useZodForm.ts
  packages/lib/src/index.ts
  packages/types/package.json
  packages/types/src/auth.ts
  packages/types/src/base.ts
  packages/types/src/basic.ts
  packages/types/src/feedback.ts
  packages/types/src/index.ts
  packages/types/src/misc.ts
  packages/types/src/right.ts
  packages/types/src/role.ts
  packages/types/src/table.ts
  packages/types/src/user.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint, sort-package-json

feat: upgrade to zod 4
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/api/me.ts
  packages/app/src/api/roles.ts
  packages/app/src/api/user.ts
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/lib/src/components/LoginForm/LoginForm.test.tsx
  packages/lib/src/components/Profile/Profile.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.test.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Role/EditRole.tsx
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/lib/src/components/User/UserForm.tsx
  packages/types/src/auth.ts
  packages/types/src/table.ts
  packages/types/src/user.ts
Due: prettier --write, eslint

docs(app): migration docs
  packages/app/MIGRATION.md
Due: none

chore: zod config into types package
  packages/app/src/app/[locale]/layout.tsx
  packages/types/src/config.ts
  packages/types/src/index.ts
Due: prettier --write, eslint

chore: add copyright text
  packages/types/src/auth.ts
  packages/types/src/basic.ts
  packages/types/src/config.ts
Due: prettier --write, eslint

chore(types): trim strings in stringSchema
  packages/types/src/base.ts
Due: prettier --write, eslint

Update packages/types/src/right.ts
  packages/types/src/right.ts
Due: prettier --write, eslint

Update packages/types/src/auth.ts
  packages/types/src/auth.ts
Due: prettier --write, eslint

chore: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

chore: add Dependabot configuration and reviewer workflow
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .gitignore
Due: none

chore: add Dependabot configuration and reviewer workflow (#959)
  .github/dependabot.yml
  .github/workflows/dependabot-reviewer.yml
  .gitignore
Due: none

chore: configure dependabot
  .github/workflows/dependabot-lockfile-update.yml
  .github/workflows/dependabot-reviewer.yml
Due: none

chore: configure dependabot (#968)
  .github/workflows/dependabot-lockfile-update.yml
  .github/workflows/dependabot-reviewer.yml
Due: none

fix(docs): fix docs deps
  packages/docs/next-env.d.ts
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

fix(docs): fix docs deps (#969)
  packages/docs/next-env.d.ts
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore(app): align app module resolution
  packages/app/next.config.js
  packages/app/tsconfig.json
Due: prettier --write, eslint

feat(types): add API token types, schemas, and rights
  packages/types/src/apiToken.ts
  packages/types/src/index.ts
  packages/types/src/right.ts
Due: prettier --write, eslint

feat(app): add dayjs utility and DatesProvider setup
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/app/[locale]/providers.tsx
  packages/app/src/globals.css
  packages/app/src/utils/dayjs.ts
Due: prettier --write, eslint

fix(app): refactor useGetMe to use react-query for data fetching
  packages/app/src/api/me.ts
Due: prettier --write, eslint

chore(app): add German and English translations for API tokens management
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
Due: none

feat(app): add API token management functions and hooks
  packages/app/src/api/apiToken.ts
  packages/app/src/api/index.ts
Due: prettier --write, eslint

feat(app): add API tokens admin view and page component
  packages/app/src/app/[locale]/(main)/admin/api-tokens/ApiTokensAdminView.tsx
  packages/app/src/app/[locale]/(main)/admin/api-tokens/page.tsx
Due: prettier --write, eslint

feat(app): implement API token management section in profile view
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/ApiTokensSection.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/CreateApiTokenModal.tsx
  packages/app/src/app/[locale]/(main)/profile/_components/TokenCreatedModal.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
