Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

docs: improve migration guide page
  packages/docs/pages/migrationguide.mdx
Due: none

chore: add migration entry
  packages/app/MIGRATION.md
Due: none

test: update tests
  packages/lib/src/components/Footer/Footer.test.tsx
Due: prettier --write, eslint

chore: add pr suggestions and fixes
  packages/app/package.json
  packages/app/src/pages/roles/index.tsx
  packages/app/src/pages/set-password/index.tsx
  packages/lib/package.json
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.module.css
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
  packages/lib/src/components/NavBar/components/NavLinks.module.css
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: add mantine theme header for next in dom
  packages/app/src/pages/_document.tsx
Due: prettier --write, eslint

chore: add migrationguide
  packages/app/MIGRATION.md
Due: none

chore: update vitest
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: remove unused code
  packages/lib/src/components/Header/Header.test.tsx
Due: prettier --write, eslint

test: update & add tests
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

chore: update vitest
  pnpm-lock.yaml
Due: none

test: update & add tests
  packages/lib/src/components/Header/Header.test.tsx
Due: prettier --write, eslint

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: adjust migration.md
  packages/app/MIGRATION.md
Due: none

test: update test to match Mantine v6
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
Due: prettier --write, eslint

test: update & add tests
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/docs/pages/migrationguide.mdx
  packages/lib/package.json
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

test: update & add tests
  packages/lib/src/components/Header/Header.test.tsx
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

test: update test to match Mantine v6
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

chore: remove unused import
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

test: update test to match Mantine v6
  packages/lib/src/components/Footer/Footer.test.tsx
Due: prettier --write, eslint

test: update & add tests
  packages/app/MIGRATION.md
  packages/lib/src/components/Footer/Footer.test.tsx
Due: prettier --write, eslint

chore: update babel
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update postcss
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
