Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

fix: adjust z-index for notification (#568)
  packages/app/src/utils/withBaseStylingShowNotification.ts
Due: prettier --write, eslint

chore: update vitest and chaijs (#564)
  package.json
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update axios (#565)
  package.json
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor: refactor navbar and simplify components
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: update test
  packages/lib/src/components/NavBar/NavBar.test.tsx
Due: prettier --write, eslint

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

chore: add isMobile prop for conditional rendering
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: use bem classnames
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

536 refactor foldable navbar (#574)
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/Header/Header.tsx
  packages/lib/src/components/Header/components/SearchBar/SearchBar.tsx
  packages/lib/src/components/NavBar/NavBar.module.css
  packages/lib/src/components/NavBar/NavBar.test.tsx
  packages/lib/src/components/NavBar/NavBar.tsx
Due: prettier --write, eslint

chore: update vulnerabilities
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: fix pnpm-lock
  pnpm-lock.yaml
Due: none

chore: update eslint (#567)
  package.json
  packages/app/package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor: exhange hard coded color string with primary
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

fix: fix wrong cursor in table header
  packages/lib/src/components/Table/Table.module.css
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: update docs
  packages/docs/pages/styleguide/styling-conventions.mdx
Due: none

refactor: fix typo
  packages/app/src/pages/profile/index.tsx
Due: prettier --write, eslint

style: changes due to code review
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/pages/login/Login.module.css
  packages/app/src/pages/login/index.tsx
  packages/app/src/pages/profile/Profile.module.css
  packages/app/src/pages/set-password/SetPassword.module.css
  packages/app/src/pages/set-password/index.tsx
  packages/app/src/pages/users/[id].tsx
  packages/app/src/pages/users/add/AddUserView.module.css
  packages/app/src/pages/users/add/index.tsx
  packages/app/src/pages/users/users.module.css
  packages/lib/src/components/Contact/components/ContactForm.module.css
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.module.css
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/DeleteDialog/DeleteDialog.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.module.css
  packages/lib/src/components/FeedbackWidget/FeedbackWidget.tsx
  packages/lib/src/components/LoadingSpinner/LoadingSpinner.module.css
  packages/lib/src/components/LoginForm/LoginForm.module.css
  packages/lib/src/components/LoginForm/LoginForm.tsx
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.module.css
  packages/lib/src/components/LoginForm/components/ResetPasswordForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/ProfileDataCard.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.module.css
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/lib/src/components/Role/components/RoleForm.module.css
  packages/lib/src/components/SetPassword/SetPasswordForm.module.css
  packages/lib/src/components/SetPassword/SetPasswordForm.tsx
  packages/lib/src/components/SetPassword/components/SetPasswordSuccessMessage.module.css
  packages/lib/src/components/TablePagination/TablePagination.module.css
  packages/lib/src/components/Translations/Translations.module.css
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/User/UserForm.tsx
Due: prettier --write, eslint

refactor: resolve merge conflicts
  packages/lib/src/components/Footer/Footer.tsx
  packages/lib/src/components/Header/Header.tsx
Due: prettier --write, eslint

feat: add functionality for fixedTableSize to TablePagination
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

refactor: remove unnecessary useCallback
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

refactor: resolve merge conflicts
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/TablePagination/TablePagination.module.css
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

fix: load all users for filter
  packages/app/MIGRATION.md
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

chore: update nx
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update nx (#580)
  .github/workflows/ci.yml
  package.json
  packages/app/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: load all users for filter (#578)
  packages/app/MIGRATION.md
  packages/app/src/pages/users/index.tsx
Due: prettier --write, eslint

chore: update commitlint packages that caused semver vulnerabilities
  package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: update commitlint packages that caused semver vulnerabilities (#579)
  package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: highlight parent navLink on child routes
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

chore: remove z-index
  packages/lib/src/components/Footer/Footer.module.css
Due: none

chore: fix file path in migration.md
  packages/app/MIGRATION.md
Due: none

test: add test for table pagination
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

chore: adjust next version in lib peer deps
  packages/lib/package.json
Due: sort-package-json

fix: highlight parent navLink on child routes
  packages/app/MIGRATION.md
  packages/lib/src/components/Footer/Footer.module.css
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  eslint: any of: **/*.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
