Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: remove vulnerability
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

chore: remove vulnerability (#706)
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
Due: sort-package-json

ci: remove trivy in favor of dependabot
  .github/workflows/ci.yml
Due: none

chore: update pnpm-lock of docs
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: update cross-spawn
  packages/docs/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: upgrade nextra
  packages/docs/.gitignore
  packages/docs/next.config.js
  packages/docs/next.config.mjs
  packages/docs/package.json
  packages/docs/pages/_app.tsx
  packages/docs/pages/_meta.js
  packages/docs/pages/_meta.json
  packages/docs/pages/architecture.mdx
  packages/docs/pages/architecture/_meta.js
  packages/docs/pages/architecture/_meta.json
  packages/docs/pages/architecture/runtime-config.mdx
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/testing.mdx
  packages/docs/pages/maintainerguide/_meta.js
  packages/docs/pages/maintainerguide/_meta.json
  packages/docs/pages/maintainerguide/release-process.mdx
  packages/docs/pages/migrationguide.mdx
  packages/docs/pages/styleguide.mdx
  packages/docs/pages/styleguide/_meta.js
  packages/docs/pages/styleguide/_meta.json
  packages/docs/pnpm-lock.yaml
  packages/docs/theme.config.tsx
  packages/docs/tsconfig.json
Due: prettier --write, eslint, sort-package-json

feat: upgrade nextra (#704)
  packages/docs/.gitignore
  packages/docs/next.config.js
  packages/docs/next.config.mjs
  packages/docs/package.json
  packages/docs/pages/_app.tsx
  packages/docs/pages/_meta.js
  packages/docs/pages/_meta.json
  packages/docs/pages/architecture.mdx
  packages/docs/pages/architecture/_meta.js
  packages/docs/pages/architecture/_meta.json
  packages/docs/pages/architecture/runtime-config.mdx
  packages/docs/pages/devguide.mdx
  packages/docs/pages/devguide/_meta.js
  packages/docs/pages/devguide/_meta.json
  packages/docs/pages/devguide/testing.mdx
  packages/docs/pages/maintainerguide/_meta.js
  packages/docs/pages/maintainerguide/_meta.json
  packages/docs/pages/maintainerguide/release-process.mdx
  packages/docs/pages/migrationguide.mdx
  packages/docs/pages/styleguide.mdx
  packages/docs/pages/styleguide/_meta.js
  packages/docs/pages/styleguide/_meta.json
  packages/docs/pnpm-lock.yaml
  packages/docs/theme.config.tsx
  packages/docs/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint, sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: update MIGRATION.md
  packages/app/MIGRATION.md
Due: none

chore: release main (#691)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/MIGRATION.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

chore: wip [ci-skip]
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Translations/index.ts
Due: prettier --write, eslint

feat: add new translation page
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Translations/Translations.module.css
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/Translations/index.ts
  packages/lib/src/components/index.ts
  packages/types/src/translation.ts
Due: prettier --write, eslint

refactor: adjust types
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
Due: prettier --write, eslint

refactor: render x icon in searchbar conditionally
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
Due: prettier --write, eslint

style: change styling of input fields
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

refactor: make tablerow clickable
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/lib/src/components/Table/Table.tsx
Due: prettier --write, eslint

chore: resolve merge conflicts
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
Due: prettier --write, eslint

feat: add new translation page
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/admin/translations/TranslationsView.tsx
  packages/app/src/app/[locale]/(main)/translations/TranslationsView.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationChangeForm.module.css
  packages/app/src/app/[locale]/(main)/translations/_components/TranslationsChangeForm.tsx
  packages/lib/src/components/Table/Table.tsx
  packages/lib/src/components/Translations/Translations.module.css
  packages/lib/src/components/Translations/Translations.tsx
  packages/lib/src/components/Translations/index.ts
  packages/lib/src/components/index.ts
  packages/types/src/translation.ts
Due: prettier --write, eslint

refactor: delete and exclude runtime config
  packages/app/.gitignore
  packages/app/public/runtimeConfig.js
Due: prettier --write, eslint

chore: add example runtime config
  packages/app/public/runtimeConfig.example.js
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix: get child navItems with flatmap
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.test.tsx
  packages/lib/src/components/Footer/Footer.tsx
  packages/types/src/footer.ts
  packages/types/src/index.ts
  packages/types/src/navbar.ts
Due: prettier --write, eslint

refactor: refactor theme logic
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/layout.tsx
  packages/app/src/components/provider/mantineProvider.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
Due: prettier --write, eslint

chore: update SEARCH_ITEMS structure and rights handling in AuthLayout
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/types/src/navbar.ts
Due: prettier --write, eslint

fix: ensure it is folded in mobile view
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

style: adjust Footer to make license and version visible
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Footer/Footer.tsx
Due: prettier --write, eslint

fix: remove handle refetch that causes duplicate requests
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/lib/src/components/TablePagination/TablePagination.test.tsx
  packages/lib/src/components/TablePagination/TablePagination.tsx
Due: prettier --write, eslint

chore(frontend): fix next vulnerability and patch packages
  packages/app/package.json
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/eslint-config/package.json
  packages/lib/package.json
  packages/types/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

style: update CSS for improved responsiveness and alignment
  packages/app/src/components/layouts/AuthLayout.module.css
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/Header/Header.module.css
  packages/lib/src/components/NavBar/NavBar.module.css
Due: prettier --write, eslint

fix: set new key value
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

fix: show buttons depending on rights on home page
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/(main)/HomeView.tsx
  packages/lib/src/components/Home/Home.tsx
Due: prettier --write, eslint

fix: fix role name in tableHeader of RightsView
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

fix: fix vulnerability
  packages/app/package.json
  packages/docs/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json
