Repository Frachtwerk/essencium-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, sort-package-json

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "package.json": "sort-package-json"
}

chore: release main (#719)
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/docs/CHANGELOG.md
  packages/docs/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
Due: sort-package-json

feat: add option to stop prefetching
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/types/src/navbar.ts
Due: prettier --write, eslint

revert: add explicit import for JSX type
  packages/app/src/components/layouts/AuthLayout.tsx
  packages/lib/src/components/NavBar/components/NavLinks.tsx
  packages/types/src/navbar.ts
Due: prettier --write, eslint

revert: reset key value to original value
  packages/lib/src/components/NavBar/components/NavLinks.tsx
Due: prettier --write, eslint

fix: fix role name in tableHeader of RightsView (#718)
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
Due: prettier --write, eslint

refactor: rename variable and make prop mandatory
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/(main)/HomeView.tsx
  packages/lib/src/components/Home/Home.tsx
Due: prettier --write, eslint

fix: show buttons depending on rights on home page (#716)
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/(main)/HomeView.tsx
  packages/lib/src/components/Home/Home.tsx
Due: prettier --write, eslint

chore: release main
  .release-please-manifest.json
  packages/app/CHANGELOG.md
  packages/app/package.json
  packages/lib/CHANGELOG.md
  packages/lib/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: sort-package-json

fix: remove required role description
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Role/components/RoleForm.tsx
  packages/types/src/role.ts
Due: prettier --write, eslint

refactor: remove unused refetch buttons and functions
  packages/app/e2e/RightsView.spec.ts
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

feat: add contactPerson
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

chore: add initials as avatar
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.module.css
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.test.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
Due: prettier --write, eslint

fix adjust routing conditions
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

fix: update URL on language change and auto-refresh user updates
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

chore: refresh on locale switch
  package.json
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint, sort-package-json

fix: update URL on language change and auto-refresh user updates (#722)
  package.json
  packages/app/MIGRATION.md
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint, sort-package-json

refactor: remove unused refetch buttons and functions (#725)
  packages/app/e2e/RightsView.spec.ts
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/admin/rights/RightsView.tsx
  packages/app/src/app/[locale]/(main)/admin/roles/RolesView.tsx
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
Due: prettier --write, eslint

chore: add translation and remove fallback value of prop
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
Due: prettier --write, eslint

feat: implement avatar initials and add contact person (#726)
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/Contact.test.tsx
  packages/lib/src/components/Contact/Contact.tsx
  packages/lib/src/components/Contact/components/ContactPersonCard.module.css
  packages/lib/src/components/Contact/components/ContactPersonCard.tsx
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.module.css
  packages/lib/src/components/Header/components/ThemeSelector/ThemeSelector.tsx
  packages/lib/src/components/Header/components/UserMenu/UserMenu.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.test.tsx
  packages/lib/src/components/Profile/components/ProfileOverviewCard.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

chore: add DEFAULT_USER_EMAIL env for undeletable default user
  packages/app/.env
  packages/app/public/runtimeConfig.example.js
  packages/app/src/app/[locale]/(main)/admin/users/UsersView.tsx
  packages/app/src/instrumentation.ts
  packages/app/src/types.ts
Due: prettier --write, eslint

chore: update migration - add env variables for undeletable default user
  packages/app/MIGRATION.md
Due: none

fix: fix vulnerability vitest
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

refactor: prefill contact form and change styling of input fields
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/components/ContactForm.tsx
Due: prettier --write, eslint

refactor: refactor current user definition
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
Due: prettier --write, eslint

style: adjust breakpoints and input styling
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
Due: prettier --write, eslint

fix: fix vulnerability vitest (#728)
  packages/app/package.json
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix: fix esbuild vulnerability
  pnpm-lock.yaml
Due: none

Revert "chore: refresh on locale switch"
  package.json
  packages/app/MIGRATION.md
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint, sort-package-json

Revert "fix adjust routing conditions"
  packages/app/src/components/layouts/AuthLayout.tsx
Due: prettier --write, eslint

Revert "fix: update URL on language change and auto-refresh user updates"
  packages/app/src/app/[locale]/(main)/profile/ProfileView.tsx
  packages/app/src/components/layouts/AuthLayout.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

fix: fix esbuild vulnerability (#732)
  pnpm-lock.yaml
Due: none

chore: fix esbuild vulnerability
  pnpm-lock.yaml
Due: none

refactor: remove name and email from contact form
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/components/ContactForm.module.css
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

refactor!: refactor contact page
  packages/app/MIGRATION.md
  packages/app/public/locales/de/common.json
  packages/app/public/locales/en/common.json
  packages/app/src/app/[locale]/(main)/contact/ContactView.tsx
  packages/lib/src/components/Contact/components/ContactForm.module.css
  packages/lib/src/components/Contact/components/ContactForm.tsx
  packages/types/src/contact.ts
Due: prettier --write, eslint

style: adjust breakpoints and input styling (#730)
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PasswordChangeForm.tsx
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.module.css
  packages/lib/src/components/Profile/components/ProfileDataCard/components/PersonalDataForm.tsx
Due: prettier --write, eslint

fix(frontend): fix vite vulnerability
  packages/app/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json

fix(frontend): fix vite vulnerability (#734)
  packages/app/package.json
  packages/docs/pnpm-lock.yaml
  packages/lib/package.json
  pnpm-lock.yaml
Due: sort-package-json
